{{/*
  Custom rendering for markdown content links.
  - External links open in new tab and icon next to it.
  - Icon next to external links.
*/}}

{{- $href := .Destination | safeURL -}}
{{- $isExternal := and (strings.HasPrefix .Destination "http") (not (strings.HasPrefix .Destination site.BaseURL)) -}}
{{- $title := .Title | plainify -}}
{{- $fallback := i18n "link" | default "Open link" -}}
{{- $text := .Text | safeHTML -}}
{{- $icon := site.Data.svg.external | safeHTML -}}

<a href="{{ $href }}"
  {{- if $title -}}
    title="{{ $title }}"
  {{- else -}}
    title="{{ $fallback }}"
  {{- end -}}
  {{- if $isExternal -}}
    target="_blank" rel="external noreferrer"
  {{- end -}}>
  {{- with $text -}}
    {{ . }}
  {{- end -}}
  {{- if $isExternal -}}
    <span class="external">
      {{ $icon }}
    </span>
  {{- end -}}
</a>