{{/*
  Custom rendering for markdown content headings.
  - Support for CSS class` and `style` attributes.
  - Anchor link next to heading.
*/}}

{{- $class := .Attributes.class -}}
{{- $style := .Attributes.style -}}
{{- $level := .Level -}}
{{- $anchor := .Anchor | safeURL -}}
{{- $text := .Text | safeHTML -}}
{{- $icon := "" -}}
{{- with printf "svg/%s.svg" "anchor" | resources.Get | resources.Minify -}}
  {{- $icon = .Content | safeHTML -}}
{{- end -}}

<h{{ $level }}
  id="{{ $anchor }}"
  {{- with $class -}} class="{{ . }}"{{- end -}}
  {{- with $style -}} style="{{ . }}"{{- end -}}>
  {{ $text }}
  <a class="heading-anchor"
     href="#{{ $anchor }}"
     title="{{ $text }}"
     aria-label="{{ $text }}">
    {{ $icon }}
  </a>
</h{{ $level }}>