{{/*
  Custom rendering for markdown content blockquotes.
  - Add citation and caption attributes.
  - Add alert callouts.
  - Add icons for quote and alerts.
*/}}

{{- $text := .Text | safeHTML -}}

{{- if eq .Type "alert" -}}
  {{- $type := .AlertType -}}
  <blockquote class="alert-{{ $type }}">
    <span>
      {{- with printf "svg/%s.svg" $type | resources.Get | resources.Minify -}}
        {{ .Content | safeHTML }}
      {{- end -}}
    </span>
    {{- with .AlertTitle -}}
      {{ . }}
    {{- else -}}
      {{ or (i18n $type) (title $type) }}
    {{- end -}}
    {{ $text }}
  </blockquote>
{{- else -}}
  <figure>
    <blockquote {{- with .Attributes.cite -}}cite="{{ . }}"{{- end -}}>
      <span>
        {{- with printf "svg/%s.svg" "quote" | resources.Get | resources.Minify -}}
          {{ .Content | safeHTML }}
        {{- end -}}
      </span>
      {{ $text }}
    </blockquote>
    {{- with .Attributes.caption -}}
      <figcaption class="blockquote-caption">
        {{ . | safeHTML }}
      </figcaption>
    {{- end -}}
  </figure>
{{ end }}