{{/* Share on Social medias. */}}

<section class="share-buttons">
  {{- with site.Params.socials -}}
    {{- range $social, $url := . -}}
      <a href="{{ $url }}" title="{{ i18n "shareOn" | default "Share on" }} {{ i18n $social | default $social | title }}" target="_blank" rel="noopener">
        {{- safeHTML (index site.Data.svg $social) -}}
      </a>
    {{- end -}}
  {{- end -}}

  {{- if and site.Params.shareOnFediverse (not .IsHome) -}}
    {{- $path := (strings.TrimPrefix "/" (printf `%s/fedishare.html` .Site.LanguagePrefix)) -}}
    {{- $page := resources.Get "html/fedishare.html" -}}
    {{- $page := $page | resources.ExecuteAsTemplate $path (.GetPage "/") -}}
    {{- $desc := .Description |
      default (.Content |
      replaceRE `<button[^>]*>[^<]*</button>` "" |
      replaceRE `<title[^>]*>[^<]*</title>` "" |
      replaceRE `<figcaption[^>]*>[^<]*</figcaption>` "") |
      htmlUnescape |
      plainify |
      truncate 200 -}}
    {{- $tags := slice -}}
    {{- with .Params.tags -}}
      {{- range . -}}
        {{- $tag := printf "#%s" . | urlize -}}
        {{- $tags = $tags | append $tag -}}
      {{- end -}}
      {{- $tags = printf "\n%s" (delimit $tags " ") -}}
      {{- $desc = printf "%s%s" $desc $tags | urlquery -}}
    {{- end -}}

    {{- $url := printf "%s#title=%s&description=%s&url=%s" $page.RelPermalink (.Title | urlquery | safeURL) ($desc | safeURL) (.Permalink | safeURL) -}}

    <a href="{{ $url }}" title="{{ i18n "shareOn" | default "Share on" }} {{ i18n "fediverse" | default "Fediverse" }}" target="_blank" rel="noopener">
      {{- safeHTML (index site.Data.svg "fediverse") -}}
    </a>
  {{- end -}}
</section>
