{{- /* CMS Admin:

  - Get CMS config.
  - Fetch external CMS script resource.
  - Load CMS script.
*/ -}}

{{- if site.Params.enableCMS -}}

  <!DOCTYPE html>
  <html lang="{{ .Site.Language.LanguageCode }}">

    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="robots" content="noindex" />
      <title>{{ .Title }}</title>
      {{- with site.Home.OutputFormats.Get "CMS_Config" -}}
        <link
          href="{{ .RelPermalink }}"
          type="application/yaml"
          rel="cms-config-url" />
      {{- end -}}
    </head>

    <body>
      {{- if and site.Params.cms_name site.Params.cms_url -}}
        {{- $name := site.Params.cms_name -}}
        {{- $url := site.Params.cms_url -}}
        {{- with try (resources.GetRemote $url (dict "key" (printf "%s-cms.css" $name))) -}}
          {{- warnf "Fetching remote resource: %q" $url -}}
          {{- with .Err -}}
            {{- errorf "%s" . -}}
          {{- else with .Value -}}
            {{- warnf "Serving cached resource: %q" .RelPermalink -}}
            <script
              src="{{ .RelPermalink }}"
              onerror="document.body.innerHTML='Failed to load {{ title $name }} CMS'">
            </script>
          {{- else -}}
            {{- errorf "Unable to get remote resource: %q" $url -}}
          {{- end -}}
        {{- end -}}

      {{- else -}}
        <h2>Error: Invalid CMS configuration</h2>
      {{- end -}}
    </body>

  </html>

{{- end -}}