{{- /* Homepage:

  - Get latest hero article and render its title and cover.
  - Render custom buttons from homepage front matter.
*/ -}}

{{- define "main" -}}

  {{- $buttons := .Params.buttons | default site.Sites.Default.Home.Params.buttons -}}

  {{- /* Get the latest article with the "hero" parameters in front matter. */ -}}
  {{- $heroes := where (site.RegularPages | lang.Merge site.Sites.Default.RegularPages) "Params.hero" "!=" nil -}}
  {{- $hero := cond (gt (len $heroes) 0) (index $heroes 0) nil -}}

  {{- /* Get cover image. */ -}}
  {{- $coverImage := partial "hero/cover_image.html" . -}}

  {{- $sectionCode := partial "utils/index_code.html" . -}}

  <section class="hero"
    {{ if $sectionCode }}style="--section: {{ $sectionCode }};"{{ end }}>

    <div class="hero-column">
      <h1 class="title">{{- .Title | .RenderString -}}</h1>

      {{- with (.Description | default site.Sites.Default.Home.Description) -}}
        <h3 class="description">{{- . | $.RenderString -}}</h3>
      {{- end -}}

      {{- with $buttons -}}
        <div class="buttons">
          {{- range . -}}
            {{- $href := .url -}}
            {{- $label := .label -}}

            {{- if and $href (not (hasPrefix $href "http")) -}}
              {{- with (site.GetPage $href | default (site.Sites.Default.GetPage $href)) -}}
                {{- $href = .RelPermalink -}}
                {{- if not $label -}}
                  {{- $label = .LinkTitle -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}

            {{- if not $label -}}
              {{- $label = i18n "explore" | default "Explore" -}}
            {{- end -}}

            <a href="{{ $href }}"
              title="{{ trim $label " " }}"
              class="hero-button"
              {{- with .style -}}style="{{ . | safeCSS }}"{{- end -}}>
              {{ $label }}
            </a>
          {{- end -}}
        </div>
      {{- end -}}
    </div>

    {{- with $hero -}}
      <a class="hero-column"
        href="{{ .RelPermalink }}">
        <h2 class="title">{{- .LinkTitle | .RenderString -}}</h2>

        {{- partial "hero/cover_image.html" . -}}
      </a>
    {{- end -}}

  </section>

  {{- /* Get homepage content. */ -}}
  {{- if .Content -}}
    {{- partial "main/content.html" . -}}
  {{- else -}}
    {{- partial "main/content.html" (site.Sites.Default.Home) -}}
  {{- end -}}

{{- end -}}
{{- /* End main. */ -}}
