{{- /* Homepage:

  - Render title, description and custom buttons from homepage front matter.
  - Render hero article with its title and cover (fall back to homepage cover).
  - Render homepage content.
*/ -}}

{{- define "main" -}}

  {{- $default := site.Sites.Default -}}
  {{- $buttons := .Params.buttons | default $default.Home.Params.buttons -}}
  {{- $hero := .Params.hero | default $default.Home.Params.hero -}}
  {{- $sectionCode := partial "utils/index_code.html" . -}}

  <section class="hero"
    {{ if $sectionCode }}style="--section: {{ $sectionCode }};"{{ end }}>

    <div class="hero-column">
      <h1 class="title">{{- .Title | .RenderString -}}</h1>

      {{- with (.Description | default $default.Home.Description) -}}
        <h3 class="description">{{- . | $.RenderString -}}</h3>
      {{- end -}}

      {{- with $buttons -}}
        <div class="buttons">
          {{- range . -}}
            {{- $href := .link -}}
            {{- $label := .label -}}

            {{- if and $href (not (hasPrefix $href "http")) -}}
              {{- with (site.GetPage $href | default ($default.GetPage $href)) -}}
                {{- $href = .RelPermalink -}}
                {{- if not $label -}}
                  {{- $label = .LinkTitle -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}

            {{- if not $label -}}
              {{- $label = i18n "explore" | default "Explore" -}}
            {{- end -}}

            <a href="{{ $href }}"
              title="{{ trim $label " " }}"
              class="hero-button"
              {{- with .style -}}style="{{ . | safeCSS }}"{{- end -}}>
              {{ $label }}
            </a>
          {{- end -}}
        </div>
      {{- end -}}
    </div>

    {{- if $hero -}}

      {{- $heroLink := $hero.link -}}
      {{- $heroPage := site.GetPage $heroLink | default ($default.GetPage $heroLink) -}}
      {{- $isExternal := not $heroPage -}}
      {{- $heroCover := . -}}

      {{- if $heroPage -}}
        {{- $heroLink = $heroPage.RelPermalink -}}
        {{- $heroCover = $heroPage -}}
      {{- end -}}

      {{- $heroTitle := $hero.title -}}
      {{- if and $heroPage (not $heroTitle) -}}
        {{- $heroTitle = $heroPage.LinkTitle -}}
      {{- end -}}

      <a class="hero-column"
        href="{{ $heroLink }}"
        {{ if $isExternal }}rel="noopener noreferrer"{{ end }}>

        <h2 class="title">{{- $heroTitle | .RenderString -}}</h2>

        {{- partial "hero/cover_image.html" $heroCover -}}
      </a>
    {{- end -}}

  </section>

  {{- /* Get homepage content. */ -}}
  {{- if .Content -}}
    {{- partial "main/content.html" . -}}
  {{- else -}}
    {{- partial "main/content.html" $default.Home -}}
  {{- end -}}

{{- end -}}
{{- /* End main. */ -}}
