{{- /* CMS config setup.

  - Get CMS params from config/params.yaml.
  - Merge some site config defaults.
  - Output CMS config setup to be used by CMS Admin page.
*/ -}}

{{- if site.Params.enableCMS -}}

  {{- $config := dict -}}
  {{- $params := site.Params.cms | default dict -}}

  {{- range $key, $val := $params -}}
    {{- $config = merge $config (dict $key $val) -}}
  {{- end -}}

  {{- $defaults := dict "site_url" site.BaseURL "locale" site.Language.LanguageCode -}}
  {{- $config = merge $defaults $config -}}

  {{- /* Output final CMS config as YAML. */ -}}
  {{- transform.Remarshal "yaml" $config | safeHTML -}}

{{- end -}}
