{{- /* Single:

  - Set hero with title, description, optional cards, metadata and cover image.
  - Set Content and Pagination.
*/ -}}

{{- define "main" -}}

  <section class="hero">

    <h2 class="title">
      {{ .Title | .RenderString }}
      {{- if .Draft -}}
        <sup><span>[{{- i18n "draft" | default "Draft" -}}]</span></sup>
      {{- end -}}
    </h1>

    {{- with .Description  -}}
      <h3 class="description">{{- . | $.RenderString -}}</h3>
    {{- end -}}

    {{- /* List custom params cards. */ -}}
    {{- with .Params.cards -}}
      {{- partial "main/cards.html" . -}}
    {{- end -}}

    {{- /* Get article metadata. */ -}}
    {{- partial "main/meta.html" . -}}

    {{- /* Get article cover image. */ -}}
    {{- partial "hero/cover_image.html" . -}}

  </section>

  {{- /* Get Breadcrumbs. */ -}}
  {{- if .Params.breadcrumbs -}}
    {{- partial "main/breadcrumbs.html" . -}}
  {{- end -}}

  {{- /* Get Table Of Contents. */ -}}
  {{- if .Params.ToC -}}
    {{ .TableOfContents }}
  {{- end -}}

  {{- /* Get page content. */ -}}
  {{- partial "main/content.html" . -}}

  {{- /* For Releases, get Download release form. */ -}}
  {{- if eq .Type "releases" -}}
    <div class="download-release">
      {{- partial "hero/download.html" . -}}
    </div>
  {{- end -}}

  {{- /* Get pagination to previous and next pages. */ -}}
  {{- if .Param "showPagination" -}}
    {{- partial "main/pagination.html" . -}}
  {{- end -}}

{{- end -}}
{{- /* End main. */ -}}