{{- /* Taxonomy:

  - Set hero with title, description and list of Terms for current Taxonomy.
*/ -}}

{{- define "main" -}}

  {{- $taxonomy := .Type -}}
  {{- $terms := .Data.Terms -}}

  {{- /* Get terms from default language Site for this Taxonomy. */ -}}
  {{- $defaultTerms := (index site.Sites.Default.Taxonomies $taxonomy) -}}

  {{- /* Merge current language Taxonomy terms and default language Site fallback. */ -}}
  {{- $merged := slice -}}
  {{- range $terms.Alphabetical -}}
    {{- $merged = $merged | append . -}}
  {{- end -}}

  {{- range $term := $defaultTerms.Alphabetical -}}
    {{- if not (in $merged $term) -}}
      {{- $merged = $merged | append . -}}
    {{- end -}}
  {{- end -}}

  {{- /* Get cover image. */ -}}
  {{- $coverImage := partial "hero/cover_image.html" . -}}

  {{- $sectionCode := "" -}}
  {{- if not $coverImage}}
    {{- $sectionCode = partial "utils/index_code.html" . -}}
  {{- end -}}

  <section class="hero"
    {{ if $sectionCode }}style="--section: {{ $sectionCode }};"{{ end }}>

    <h1 class="title">
      {{- partial "utils/icon.html" .Title -}}
      {{ .Title | .RenderString }} ({{ len $merged }})
    </h1>

    {{- with .Description -}}
      <h3 class="description">{{- . | $.RenderString -}}</h3>
    {{- end -}}

    {{- with $merged -}}
      <ul class="terms">
        {{- range . -}}
          {{- $count := len .Pages -}}
          {{- with .Page -}}
            <a href="{{ .RelPermalink }}">
              {{ .LinkTitle }} ({{ $count }})
            </a>
          {{- end -}}
        {{- end -}}
      </ul>

    {{- else -}}
      {{- i18n "noterms" | default (printf "No %s found." $taxonomy) -}}
    {{- end -}}

    {{- $coverImage -}}

  </section>

{{- end -}}
{{- /* End main. */ -}}