{{- /* Term:

  - List RegularPages for current Term.
*/ -}}

{{- define "main" -}}

  {{- /* Get pages from current Section. */ -}}
  {{- $pages := .RegularPages -}}

  {{- /* Get pages from default language Site for this Term. */ -}}
  {{- $defaultTerm := index (index site.Sites.Default.Taxonomies .Data.Plural) .Data.Term -}}

  {{- /* Merge current language Term pages and default language Site fallback. */ -}}
  {{- $fallback := slice -}}
  {{- if $defaultTerm -}}
    {{- range $page := $defaultTerm.Pages -}}
      {{- if not (in $pages $page.Translations) -}}
        {{- $fallback = $fallback | append $page -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $pages = sort (union $pages $fallback) "Date" "desc" -}}
  {{- $count := len $pages -}}

  {{- /* Get cover image. */ -}}
  {{- $coverImage := partial "hero/cover_image.html" . -}}

  {{- $sectionCode := "" -}}
  {{- if not $coverImage}}
    {{- $sectionCode = partial "utils/index_code.html" . -}}
  {{- end -}}

  <section class="hero"
    {{ if $sectionCode }}style="--section: {{ $sectionCode }};"{{ end }}>

    {{- /* List categories. */ -}}
    {{- partial "hero/categories.html" . -}}

    <h1 class="title">
      {{- partial "utils/icon.html" .Data.Plural -}}
      {{ .Data.Singular | title }}: {{ .Title | .RenderString }} ({{ $count }})
    </h1>

    {{- with .Description -}}
      <h3 class="description">{{- . | $.RenderString -}}</h3>
    {{- end -}}

    {{- $coverImage -}}

  </section>

  {{- /* List RegularPages for Term. */ -}}
  {{- partial "main/paginator.html" (dict "pages" $pages "context" .) -}}

{{- end -}}
{{- /* End main. */ -}}
