{{- /* Homepage header:

  - Get homepage section for params.
  - Get last article with hero param and display its title and description.
  - Render custom buttons from homepage section.
  - Render cover from last hero article.
*/ -}}

{{- $homepageButtons := slice -}}
{{- with (site.GetPage "section" "homepage" | default (site.Sites.Default.GetPage "section" "homepage")) -}}
  {{- with .Params.buttons -}}
    {{- $homepageButtons = . -}}
  {{- end -}}
{{- end -}}

{{- /* Get the latest article with the "hero" parameters in front matter. */ -}}
{{- with (index (where (site.RegularPages | lang.Merge site.Sites.Default.RegularPages) "Params.hero" "!=" nil) 0) -}}
  <header>

    <h1 class="title">
      {{ .LinkTitle | .RenderString }}
    </h1>

    {{- with .Description -}}
      <h3 class="description">{{ . | $.RenderString }}</h3>
    {{- end -}}

    {{- with $homepageButtons -}}
      <div class="buttons">
        {{- range $buttons := . -}}
          {{- $href := $buttons.url -}}
          {{- $page := site.GetPage $href | default (site.Sites.Default.GetPage $href) -}}
          {{- $label := $buttons.label | default "" -}}

          {{- with $page -}}
            {{- $href = .RelPermalink -}}
            {{- $label = cond (ne (trim $label " ") "") $label (.LinkTitle | .RenderString) -}}
          {{- else -}}
            {{- $label = cond (ne (trim $label " ") "") $label (i18n "explore" | default "Explore") -}}
          {{- end -}}

          <a href="{{ $href }}"
            title="{{ $label }}"
            class="hero-button"
            {{ with $buttons.style }}style="{{ . | safeCSS }}"{{ end }}>
            {{ $label }}
          </a>
        {{- end -}}
      </div>
    {{- end -}}

    {{- /* Get hero cover image. */ -}}
    {{- partial "cover/hero.html" . -}}

  </header>
{{- end -}}
