<div class="metadata">

  {{- if not .Date.IsZero -}}
    <span class="meta">
      {{- partial "utils/icon.html" "date" -}}
      <time datetime="{{ .Date }}">
        {{ .Date | time.Format ":date_long" }}
      </time>
    </span>
  {{- end -}}

  {{- if .Params.categories -}}
    {{- $taxonomy := site.Sites.Default.Taxonomies.categories -}}
    <span class="meta">
      {{- partial "utils/icon.html" "categories" -}}
      <span class="categories">
        {{- range .GetTerms "categories" -}}
          {{- $count := len ($taxonomy.Get .Title) -}}
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }} ({{ $count }})
          </a>
        {{- end -}}
      </span>
    </span>
  {{- end -}}

  {{- if .Params.tags -}}
    {{- $taxonomy := site.Sites.Default.Taxonomies.tags -}}
    <span class="meta">
      {{- partial "utils/icon.html" "tags" -}}
      <span class="tags">
        {{- range .GetTerms "tags" -}}
          {{- $count := len ($taxonomy.Get .Title) -}}
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }} ({{ $count }})
          </a>
        {{- end -}}
      </span>
    </span>
  {{- end -}}

  {{- if .Param "showWordCount" -}}
    <span class="meta">
      {{- partial "utils/icon.html" "words" -}}
      <span>
        {{ i18n "words" .WordCount | default (printf "%d words" .WordCount) }}
      </span>
    </span>
  {{- end -}}

  {{- if .Param "showReadingTime" -}}
    <span class="meta">
      {{- partial "utils/icon.html" "time" -}}
      <span>
        {{ i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) }}
      </span>
    </span>
  {{- end -}}

  {{- if .Param "showAuthor" -}}
    <span class="meta">
      {{- partial "utils/icon.html" "author" -}}
      <span class="authors">
        {{- with (.Params.author | default site.Params.author) -}}
          {{- if reflect.IsSlice . -}}
            {{- delimit . " · " -}}
          {{- else -}}
            {{- . -}}
          {{- end -}}
        {{- end -}}
      </span>
    </span>
  {{- end -}}

  {{- if .IsTranslated -}}
    <span class="meta">
      {{- partial "utils/icon.html" "translations" -}}
      <span class="langs">
        {{- range .Translations -}}
          <a href="{{ .RelPermalink }}">
            {{ .Language.LanguageName }}
          </a>
        {{- end -}}
      </span>
    </span>
  {{- end -}}

</div>