/* This CSS stylesheet defines the style of the 404 page */


.not-found {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  font-size: 10rem;
  text-shadow: 0 0 4rem magenta;
}

.not-found a:hover {
  font-size: 12rem;
}
