/* This CSS stylesheet defines the style of the site footer */


.site-footer {
  min-height: var(--footer-height);
  background: var(--tone);
}

#top-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--tertiary);
  transition: var(--link-transition);
}

#top-link:hover {
  color: var(--link-hover-color);
}

.footer-menu {
  max-width: var(--width);
  margin: var(--gap) auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: var(--gap);
  font-size: var(--m);
  color: var(--tertiary);
}

.footer-menu span {
  font-size: var(--s);
}

.footer-menu span:last-child {
  white-space: nowrap;
}

.footer-menu a {
  color: var(--link-color);
}

.footer-menu a:hover {
  color: var(--link-hover-color);
}

.footer-section {
  flex: 1 1 calc(var(--width) * 0.05);
  margin: 0 auto;
  text-align: start;
}

.footer-section:last-child {
  flex: 0 auto;
}

.footer-section h4 {
  color: var(--tertiary);
  margin: 0 auto;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin: 0.25rem auto;
  font-size: var(--s);
}

.footer-section a {
  color: var(--tertiary);
}

.footer-section .menu-active {
  color: var(--primary);
  font-weight: 700;
  text-decoration: var(--underline);
}

.footer-menu .meta svg {
  color: var(--tertiary);
  margin: 0.6rem;
  display: block;
  width: 4rem;
  height: 4rem;
}

.footer-custom {
  max-width: var(--width);
  margin: var(--gap) auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: var(--gap);
  font-size: var(--m);
  color: var(--tertiary);
}

.footer-custom a {
  margin: 0;
  padding: calc(var(--gap) * 0.5);
  color: var(--tertiary);
}

.footer-custom a:hover {
  color: var(--link-hover-color);
}

.copyright {
  max-width: var(--width);
  margin: auto;
  padding-bottom: var(--gap);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: var(--gap);
  font-size: var(--s);
  color: var(--tertiary);
}