/* This CSS stylesheet defines the style of the site footer */


.site-footer {
  min-height: var(--footer-height);
  background: var(--footer);
}

#top-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--tertiary);
  transition: var(--link-transition);
}

#top-link:hover {
  color: var(--link-hover-color);
}

.footer-menu {
  max-width: var(--width);
  margin: var(--gap) auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: var(--gap);
  font-size: var(--m);
  color: var(--tertiary);
}

.footer-menu span {
  font-size: var(--s);
}

.footer-menu span:last-child {
  white-space: nowrap;
}

.footer-menu a {
  color: var(--link-color);
}

.footer-menu a:hover {
  color: var(--link-hover-color);
}

.footer-section {
  flex: 1 1 calc(var(--width) * 0.05);
  margin: 0 auto;
  text-align: start;
}

.footer-section:last-child {
  flex: 0 auto;
}

.footer-section h4 {
  color: var(--tertiary);
  margin: 0 auto;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin: 0.25rem auto;
  font-size: var(--s);
}

.footer-section a {
  color: var(--tertiary);
}

.footer-section .menu-active {
  color: var(--primary);
  font-weight: 700;
  text-decoration: var(--underline);
}

.footer-custom {
  max-width: var(--width);
  margin: var(--gap) auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: var(--gap);
  font-size: var(--m);
  color: var(--tertiary);
}

:is(.footer-custom, .share-links) a {
  color: var(--tertiary);
}

:is(.footer-custom, .share-links) a:hover {
  color: var(--link-hover-color);
}

.share-links {
  max-width: var(--width);
  margin: var(--gap) auto;
  display: flex;
  justify-content: center;
  gap: var(--gap);
  color: var(--tertiary);
}

.share-links svg {
  height: var(--l);
}

.copyright {
  max-width: var(--width);
  margin: var(--gap) auto 0;
  padding-bottom: var(--gap);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: var(--gap);
  font-size: var(--s);
  color: var(--tertiary);
}

.debug-icon {
  display: inline-block;
  padding: calc(var(--gap) * 0.5);
  font-size: var(--s);
}

.debug-icon svg {
  margin: calc(var(--gap) * 0.5);
  height: var(--xxl);
}