/* This CSS stylesheet defines the style of the text in code blocks. For the code block itself and inline code, go to single.css */


/* For Light chroma, see the first half below, for Dark chroma, go to the second half far-below */


/* Background */
.chroma {
  background: var(--entry);
  color: var(--primary);
  border-radius: var(--radius);
}

/* Error */
.chroma .err {
  color: #a61717;
  background: var(--theme);
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background: #ffc;
}

/* LineNumbersTable, LineNumbers */
.chroma :is(.lnt, .ln) {
  margin-inline-end: 0.5rem;
  color: #7f7f7f;
}

/* Keyword, KeywordConstant, KeywordDeclaration, KeywordNamespace, KeywordPseudo, KeywordReserved,
NameTag, Operator, OperatorWord, CommentPreproc, CommentPreprocFile */
.chroma :is(.k, .kc, .kd, .kn, .kp, .kr, .nt, .o, .ow, .cp, .cpf) {
  color: #000080;
  font-weight: 700;
  font-style: italic;
}

/* Bracket, Operator, OperatorWord */
.chroma :is(.p, .o, .ow) {
  color: #000080;
}

/* NameAttribute, NameConstant, NameVariable, NameVariableClass, NameVariableGlobal, NameVariableInstance */
.chroma :is(.na, .no, .nv, .vc, .vg, .vi) {
  color: #008080;
}

/* NameBuiltin */
.chroma .nb {
  color: #0086b3;
}

/* NameBuiltinPseudo, GenericHeading */
.chroma :is(.bp, .gh) {
  color: #999;
}

/* NameDecorator */
.chroma .nd {
  color: #3c5d5d;
  font-weight: 700;
}

/* NameEntity */
.chroma .ni {
  color: #800080;
}

/* NameException, NameFunction, NameLabel */
.chroma :is(.ne, .nf, .nl) {
  color: #900;
  font-weight: 700;
}

/* NameNamespace, GenericPrompt */
.chroma :is(.nn, .gp) {
  color: #555;
}

/* LiteralString, LiteralStringAffix, LiteralStringBacktick, LiteralStringChar, LiteralStringDelimiter, LiteralStringDoc,
LiteralStringDouble, LiteralStringEscape, LiteralStringHeredoc, LiteralStringInterpol, LiteralStringOther, LiteralStringSingle */
.chroma :is(.s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .s1) {
  color: #d14;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #009926;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #990073;
}

/* LiteralNumber, LiteralNumberBin, LiteralNumberFloat, LiteralNumberHex, LiteralNumberInteger, LiteralNumberIntegerLong, LiteralNumberOct */
.chroma :is(.m, .mb, .mf, .mh, .mi, .il, .mo) {
  color: #099;
}

/* Comment, CommentHashbang, CommentMultiline, CommentSingle, CommentSpecial */
.chroma :is(.c, .ch, .cm, .c1, .cs) {
  color: #998;
  font-style: italic;
}

/* GenericDeleted */
.chroma .gd {
  color: #000;
  background: #fdd;
}

/* GenericEmph */
.chroma .ge {
  color: #000;
  font-style: italic;
}

/* GenericError, GenericTraceback */
.chroma :is(.gr, .gt) {
  color: #a00;
}

/* GenericInserted */
.chroma .gi {
  color: #000;
  background: #dfd;
}

/* GenericOutput */
.chroma .go {
  color: #888;
}

/* GenericStrong */
.chroma .gs {
  font-weight: 700;
}

/* GenericSubheading */
.chroma .gu {
  color: #aaa;
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}

/* TextWhitespace */
.chroma .w {
  color: #bbb;
}


/* For Dark chroma, see the second half below, for Light chroma, go to the first half above */


/* Keyword, KeywordConstant, KeywordDeclaration, KeywordNamespace, KeywordPseudo, KeywordReserved,
NameTag, Bracket, Operator, OperatorWord, CommentPreproc, CommentPreprocFile */
.dark .chroma :is(.k, .kc, .kd, .kn, .kp, .kr, .nt, .p, .o, .ow, .cp, .cpf) {
  color: #d14;
}

/* NameBuiltin, NameLabel, NameVariable, NameVariableClass, NameVariableGlobal, NameVariableInstance */
.dark .chroma :is(.nb, .nl, .nv, .vc, .vg, .vi) {
  color: #8be9fd;
}

/* KeywordType */
.dark .chroma .kt {
  color: #8be9fd;
}

/* NameAttribute, NameClass, NameFunction */
.dark .chroma :is(.na, .nc, .nf) {
  color: #50fa7b;
}

/* LiteralString, LiteralStringAffix, LiteralStringBacktick, LiteralStringChar, LiteralStringDelimiter, LiteralStringDoc,
LiteralStringDouble, LiteralStringEscape, LiteralStringHeredoc, LiteralStringInterpol, LiteralStringOther, LiteralStringRegex, LiteralStringSingle, LiteralStringSymbol */
.dark .chroma :is(.s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss) {
  color: #f1fa8c;
}

/* LiteralNumber, LiteralNumberBin, LiteralNumberFloat, LiteralNumberHex, LiteralNumberInteger, LiteralNumberIntegerLong, LiteralNumberOct */
.dark .chroma :is(.m, .mb, .mf, .mh, .mi, .il, .mo) {
  color: #bd93f9;
}

/* Comment, CommentHashbang, CommentMultiline, CommentSingle, CommentSpecial */
.dark .chroma :is(.c, .ch, .cm, .c1, .cs) {
  color: #6272a4;
}

/* GenericDeleted */
.dark .chroma .gd {
  color: #f55;
}

/* GenericInserted */
.dark .chroma .gi {
  color: #50fa7b;
}

/* GenericOutput */
.dark .chroma .go {
  color: #44475a;
}