/* Defines the main content on Single pages and List pages (Homepage, sections such as News, Releases and Donate) */


main {
  min-height: calc(var(--width) * 0.5);
  white-space: normal;
  background: var(--theme);
  overflow-wrap: break-word;
}


/* Page header and hero cover.
For the Site header, see header.css stylesheet. */

main header {
  min-height: calc(var(--width) * 0.5);
  height: auto;
  overflow: visible;
  width: 100vw;
  margin: auto;
  padding: calc(var(--gap) * 2) var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  text-align: center;
  position: relative;
}

.title,
.description,
.hero-button,
.metadata {
  display: inline-flex;
  gap: var(--gap);
  max-width: var(--width);
  color: var(--cover);
  z-index: 2;
}

.title svg {
  width: var(--xxl);
  height: var(--xxl);
}


.releases, .category, .categories-list {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 100%;
  color: var(--cover);
  z-index: 2;
}

.categories-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) * 0.25);
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

article .category {
  top: var(--gap);
}

:is(.releases, .category, .categories-list) a {
  padding: calc(var(--gap) * 0.5);
  color: var(--cover);
}

:is(.releases, .category, .categories-list) a:hover {
  color: var(--link-hover-color);
}

.description {
  font-weight: 400;
}

.title,
.description {
  margin: 0 auto;
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-top: calc(var(--gap) * 2);
  z-index: 3;
}

.hero-button, .release-button {
  margin-top: var(--gap);
  padding: var(--padding);
  color: var(--cover);
  font-size: var(--m);
  background: var(--link-color);
  border-radius: var(--radius);
  transition: var(--link-transition);
  z-index: 2;
}

:is(.hero-button, .release-button):hover {
  filter: var(--filter);
  transform: var(--transform-hover);
  color: var(--cover);
}

:is(.metadata, .metadata a) {
  color: var(--cover);
  font-size: var(--s);
}

.meta {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.meta svg {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: -0.25rem;
}

.meta a:hover {
  color: var(--link-hover-color);
}

.meta :is(.categories, .tags, .authors, .langs) a:not(:last-of-type):after {
  content: " · ";
}

.cards-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--width) * 0.25), 1fr));
  gap: var(--gap);
  max-width: var(--width);
  margin-top: calc(var(--gap) * 2);
  color: var(--cover);
  z-index: 2;
}

main header .entry-cover img {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: calc(var(--width) * 0.5);
  z-index: 1;
}

.article-header {
  gap: calc(var(--gap) * 2);
  background: var(--entry);
  min-height: calc(var(--width) * 0.25);
}

.article-header :is(.title,
.description,
.hero-button,
.metadata) {
  color: var(--secondary);
}

.article-header :is(.category, .categories-list) {
  position: relative;
  top: 0;
  width: 100%;
  color: var(--secondary);
  z-index: 2;
}

.article-header :is(.category, .categories-list) a {
  padding: calc(var(--gap) * 0.5);
  color: var(--secondary);
}

.article-header :is(.metadata, .metadata a) {
  color: var(--secondary);
}

.article-header .meta a:hover {
  color: var(--link-hover-color);
}

main header .article-cover img {
  margin: auto;
  width: var(--content-width);
  height: auto;
  max-height: calc(var(--width) * 0.5);
  z-index: 1;
  border-radius: var(--radius);
}


/* List page article entries */

.articles {
  width: var(--width);
  margin: calc(var(--gap) * 2) auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  gap: var(--gap);
  background: var(--theme);
}

.articles .article-card  {
  width: var(--article);
  text-align: center;
  position: relative;
}

.articles .article-card  :not(.category) :is(a, h3) {
  color: var(--secondary);
}

.articles .article-card  figure {
  height: calc(var(--article) * 0.5);
  background: var(--entry);
  border-radius: var(--radius);
  transition: var(--link-transition);
}

.articles .article-card:hover figure {
  filter: var(--filter);
  transform: var(--transform-hover);
}

.articles .article-card:hover .entry-title,
.articles .article-card:hover .entry-description {
  color: var(--link-color);
}

.articles .article-card a:active figure {
  transform: var(--transform-active);
}

.articles .article-card  .entry-cover img {
  border-radius: var(--radius);
  margin: auto;
  height: 100%;
  width: 100%;
}

.entry-date {
  position: absolute;
  right: 0;
  width: 100%;
  top: calc((var(--article) * 0.5) - 2rem);
}

.entry-date time {
  padding: 0.5rem;
  color: var(--cover);
  font-size: var(--s);
}

.entry-title {
  margin-top: 0;
  padding-top: var(--gap);
  transition: var(--link-transition);
}

.entry-description {
  color: var(--secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--link-transition);
  margin-bottom: 0;
  padding-bottom: var(--gap);
}

.entry-isdraft {
  font-size: var(--s);
  color: var(--secondary);
}


/* Table of Contents */

#TableOfContents {
  display: flex;
  font-size: var(--m);
  padding: calc(var(--gap) * 2) 0 0;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#TableOfContents ul,
#TableOfContents li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#TableOfContents a {
  color: var(--tertiary);
  padding: 0.5rem;
}

#TableOfContents a:hover {
  color: var(--link-hover-color);
}

#TableOfContents a:before {
  content: "# ";
}


/* Single page content */

.content {
  max-width: var(--content-width);
  margin: auto;
  font-size: var(--m);
  color: var(--secondary);
  text-align: justify;
  text-align-last: auto;
}

.heading-anchor {
  position: absolute;
  margin: 0.25rem;
  width: 0.75em;
  min-width: 0.75rem;
  opacity: 0;
}

.content :is(h1, h2):not(.box *, .column *) {
  border-bottom: var(--border);
}

:is(h1, h2, h3, h4, h5, h6):hover .heading-anchor {
  opacity: 1;
}

.external svg {
  display: inline-block;
  width: 0.75em; /* NOTE: use size relative to parent (instead of root html), so it also scales with headers. */
  min-width: 0.75rem;
}

blockquote {
  margin: var(--gap) 0;
  padding: var(--gap);
  border-inline-start: calc(var(--line) * 2) solid var(--tone);
  background: var(--entry);
  border-radius: 0 var(--radius) var(--radius) 0;
}

blockquote svg {
  display: inline-block;
  margin-inline-end: 0.25rem;
  width: 1rem;
  height: 1rem;
}

blockquote p {
  margin: 0.5rem 0 0;
}

table th,
table:not(.highlighttable, .highlight table, .gist .highlight) td {
  min-width: 5rem;
  padding: 0.5rem var(--gap);
  border-bottom: var(--border);
}

table th {
  font-size: var(--m);
  text-align: start;
}

table:not(.highlighttable) td code:only-child {
  margin: auto 0;
}

.highlight table {
  border-radius: var(--radius);
}

li > .highlight {
  margin-inline-end: 0;
}

ul pre {
  margin-inline-start: calc(var(--gap) * -2);
}

.highlight pre {
  margin: 0;
}

.highlighttable {
  table-layout: fixed;
}

.highlighttable td:first-child {
  width: 2rem;
}

.highlighttable td .linenodiv {
  padding-inline-end: 0 !important;
}

.highlighttable td .highlight,
.highlighttable td .linenodiv pre {
  margin-bottom: 0;
}


/* Single page Code */

.copy-code {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: var(--entry);
  background: var(--tertiary);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  font-size: var(--s);
  user-select: none;
  cursor: copy;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
  display: block;
}

.copy-code:hover {
  background: var(--link-hover-color);
}

div.highlight,
pre {
  position: relative;
}

code {
  background: var(--entry);
  margin: 0;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: var(--m);
  font-family: var(--monospace);
  direction: ltr;
}

pre code {
  display: block;
  margin: auto 0;
  padding: var(--gap);
  overflow-x: auto;
  border-radius: var(--radius);
  word-break: break-all;
  font-family: var(--monospace);
}

pre code:has(.lnt) {
  padding-inline-end: 0;
}

.chroma code {
  background: inherit;
  font-family: var(--monospace);
}

sup:has(a) {
  margin-inline-start: 0.5rem;
  box-shadow: none;
  font-family: var(--monospace);
  color: var(--link-hover-color);
}

sup a:hover {
  color: var(--link-hover-color);

}

sup a:before {
  content: "[";
}

sup a:after {
  content: "]";
}

sup:target {
  padding: 0.5rem;
  background: var(--theme);
  border-radius: var(--radius);
  scroll-margin-top: 25vh;
}


/* Single page figures, images and videos */

.content img:not([popover] img, blockquote img) {
  display: inherit;
  max-width: 100%;
  height: auto;
  max-height: calc(var(--width) * 0.5);
  border-radius: var(--radius);
  margin: auto;
  transition: var(--link-transition);
}

.content video {
  width: 100%;
}

.content figure {
  position: relative;
}

figure > figcaption {
  width: 100%;
  margin: var(--gap) auto;
  font-size: var(--s);
  color: var(--tertiary);
  text-align: center;
}

.content a img:not(blockquote img, .column img):hover {
  filter: var(--filter);
  transform: var(--transform-hover);
}

.content [popover] {
  margin: auto;
  background: none;
  border: none;
}

.content [popover]::backdrop {
  background: var(--backdrop);
}

.content [popover] img {
  height: 90vh;
  max-width: 90vw;
  border-radius: var(--radius);
}

.content .close {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--link-color);
  color: var(--cover);
  cursor: zoom-out;
}

.content .close:hover {
  background: var(--link-hover-color);
}

.content button[popovertarget^="img-"] {
  cursor: zoom-in;
  display: block;
  margin: auto;
  text-align: center;
  transition: var(--link-transition);
}

.content button[popovertarget^="img-"]:hover {
  filter: var(--filter);
  transform: var(--transform-hover);
}

/* Download box */

.download-box {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  text-align: center;
  gap: var(--gap);
  margin: var(--gap) auto;
  z-index: 2;
}

.download-box .cards-column {
  width: calc(var(--width) * 0.25);
  flex-direction: row;
  justify-content: space-around;
  align-content: space-evenly;
}

.download-box [popovertarget] {
 padding: 0 calc((var(--width) * .075) - var(--gap));
}

.download-box svg {
  transition: var(--link-transition);
}

.download-box .cards-column a {
  color: var(--secondary);
}

.download-box .cards-column:has([popovertarget]):hover :not(.arch-icon) svg {
  color: var(--link-hover-color);
  transform: var(--transform-hover);
}

.download-box .arch-icon svg {
  padding: calc(var(--gap) * 0.75);
  background: var(--secondary);
  color: var(--entry);
  border-radius: calc(var(--radius) * 2);
}

.download-box .arch-icon:hover span {
  color: var(--link-hover-color);
}

.download-box .arch-icon:hover svg {
  background: var(--link-hover-color);
}

.download-box svg:active {
  transform: var(--transform-active);
}

:is(#windows:has(#windows-arch:popover-open),
#mac:has(#mac-arch:popover-open),
#linux:has(#linux-arch:popover-open)) .arch-icon {
  display: inline-block;
}

:is(#windows:has(#windows-arch:popover-open),
#mac:has(#mac-arch:popover-open),
#linux:has(#linux-arch:popover-open)) [popovertarget*="arch"],
[id*="arch"],
.arch-icon {
  display: none;
}

.download-release {
  display: flex;
  flex-direction: column;
}

.download-release h4 {
  color: var(--secondary);
}


/* Documentation box */

.cards-column {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--gap);
  padding: var(--padding);
  text-align: center;
  background: var(--entry);
  border-radius: var(--radius);
  transition: var(--link-transition);
}

.cards-column :is(button, svg, h3, p) {
  color: var(--secondary);
  margin: 0 auto;
}

.cards-column svg {
  height: calc(var(--width) * 0.075);
  transition: var(--link-transition);
}

.cards-column:hover > * {
  color: var(--link-hover-color);
}

.cards-column:hover {
  filter: var(--filter);
  transform: var(--transform-hover);
}

.cards-column svg:active {
  transform: var(--transform-active);
}


/* Single page footer */

.single-footer {
  padding: 0;
}

.share-links {
  max-width: var(--width);
  margin: auto;
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.share-links svg {
  color: var(--tertiary);
  width: 1.5rem;
}

.share-links svg:hover {
  color: var(--link-hover-color);
}

.share-links svg:active {
  transform: var(--transform-active);
  transition: var(--link-transition);
}


/* Pagination links to next and previous pages */

.pagination {
  width: var(--width);
  margin: var(--gap) auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.pagination a {
  padding: var(--padding);
  color: var(--cover);
  font-size: var(--s);
  text-transform: capitalize;
  background: var(--link-color);
  border-radius: var(--radius);
  transition: var(--link-transition);
}

.pagination a:hover {
  background: var(--link-hover-color);
}

.pagination .next {
  margin-inline-start: auto;
  text-align: end;
}

.pagination .prev {
  margin-inline-end: auto;
  text-align: start;
}

.pagination :is(.next, .prev) svg {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: -.25rem;
}


/* Footnotes */

.footnotes {
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  color: var(--tertiary);
}

.footnotes hr {
  display: none;
}

.footnotes a {
  color: var(--link-color);
}

.footnotes a:hover {
  text-decoration: var(--underline);
}

.footnotes ol {
  margin: 0;
}

.footnotes ol li {
  margin-bottom: 0.5rem;
}

.footnotes ol li p {
  margin: 0;
}

/* Fix li markers sink at the bottom */
.footnotes ol li > * {
  vertical-align: top;
}

.footnotes ol li:target {
  padding: 0.5rem;
  background: var(--theme);
  border-radius: var(--radius);
  scroll-margin-top: 25vh;
}

.footnotes ol::before {
  content: "Footnotes";
  font-size: var(--l);
  margin-inline: -1rem;
}


/* Shortcodes */

.image-size-control {
  margin-inline: auto;
  margin-inline-end: auto;
}

.image-size-control > img {
  width: inherit;
  height: inherit;
}


/* Ratio System */

.ratio {
  position: relative;
  width: 100%;
}

.ratio::before {
  content: "";
  display: block;
  padding-top: var(--aspect-ratio, 56.25%);
}

.ratio > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ratio-1x1 {
  --aspect-ratio: 100%;
}

.ratio-4x3 {
  --aspect-ratio: 75%;
}

.ratio-16x9 {
  --aspect-ratio: 56.25%;
}

.ratio-21x9 {
  --aspect-ratio: 42.86%;
}


/* Share form */

.fedishare {
  margin: var(--gap) auto;
  max-width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#shareForm {
  width: 80%;
  padding: calc(var(--gap) * 1.5);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap);
  border-radius: var(--radius);
  background: var(--entry);
}

#shareForm label {
  width: 100%;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--gap) * 0.5);
}

#shareForm :is(input:not([type="checkbox"]), textarea):not([readonly]) {
  width: 100%;
  padding: calc(var(--gap) * 0.75);
  border-radius: var(--radius);
  color: var(--secondary);
  background: var(--theme);
}

#shareForm [readonly] {
  width: 100%;
  padding: calc(var(--gap) * 0.75);
  border-radius: var(--radius);
  color: var(--tertiary);
  background: var(--theme);
}

#shareForm :is(.fedishare-instance-container, [for="rememberInstance"]) {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--gap);
}

#shareForm .fedishare-instance {
  flex-grow: 1;
}

#shareForm #instance:invalid {
  color: red;
}

#shareForm #instance:placeholder-shown {
  color: var(--tone);
}

#shareForm #rememberInstance {
  margin-inline-end: calc(var(--gap) * 2);
}

#shareForm #submit {
  width: 100%;
  margin-top: var(--gap);
  padding: var(--padding);
  color: var(--cover);
  font-weight: bold;
  background: var(--link-color);
  border-radius: var(--radius);
}

#shareForm #submit:hover {
  background: var(--link-hover-color);
}

:is(#shareForm #submit:disabled, #shareForm:has(#instance:invalid) #submit) {
  background: var(--tone);
  cursor: not-allowed;
}


/* Calendar on Community page */

.calendar {
  margin: var(--gap) auto;
  width: var(--width);
  height: calc(var(--width) * 0.5);
  border: none;
  border-radius: var(--radius);
  z-index: 3;
}


/* Addons catalog */

.addons-list {
  width: var(--width);
  margin: calc(var(--gap) * 2) auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.addons-list a {
  flex: 1 0 var(--article);
  color: var(--secondary);
}

.addons-list a:hover .addon-entry {
  filter: var(--filter);
  transform: var(--transform-hover);
}

.addons-list a:hover h3 {
  color: var(--link-hover-color);
}

.addon-entry {
  padding: var(--gap) var(--gap) calc(var(--gap) * 2);
  background: var(--entry);
  border-radius: var(--radius);
  min-height: calc(var(--article) * 0.6);
  position: relative;
  transition: var(--link-transition);
}

.addon-header {
  display: flex;
  gap: var(--gap);
  align-items: flex-start;
}

.addon-icon {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--theme);
}

.addon-icon img {
  width: 3rem;
  height: auto;
  max-height: 3rem;
  object-fit: contain;
  text-align: center;
  border-radius: 10%;
}

.addon-title {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 0.5);
  text-align: start;
}

.addon-title :is(h3, p) {
  margin: 0;
}

.addon-author {
  color: var(--tertiary);
}

.addon-description {
  text-align: justify;
}

.addon-meta {
  position: absolute;
  bottom: var(--gap);
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) * 0.5);
  font-size: var(--s);
  color: var(--tertiary);
}


/* Funded Grants list */

.grants {
  width: var(--width);
  margin: var(--gap) auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.grants-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.grants-list a {
  flex: 1 0 var(--article);
  color: var(--secondary);
}

.grant-entry {
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  min-height: calc(var(--article) * 0.5);
  position: relative;
  transition: var(--link-transition);
}

.grants-list a:hover .grant-entry {
  filter: var(--filter);
  transform: var(--transform-hover);
}

.grants-list a:hover .grant-entry h3 {
  color: var(--link-hover-color);
}

.grants-link {
  margin: var(--gap) auto;
  padding: var(--padding);
  color: var(--cover);
  background: var(--link-color);
  border-radius: var(--radius);
}

.grants-link:hover {
  color: var(--cover);
  background: var(--link-hover-color);
}


/* Donate box */

#donation-form {
  width: calc(var(--width) * 0.5);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.5);
  padding: var(--gap);
  align-items: center;
  background: var(--entry);
  border-radius: var(--radius);
  z-index: 3;
}

#donation-type {
  width: 100%;
  display: flex;
  gap: calc(var(--gap) * 0.5);
  border: none;
  padding: 0;
}

#donation-amount {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: calc(var(--gap) * 0.5);
  border: none;
  padding: 0;
}

#donation-type input,
#donation-amount input:not([type="number"]) {
  display: none;
}

#donation-amount .tiers {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--gap) * 0.5);
}

#donation-amount .custom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--gap) * 0.5);
}

#donation-type label,
.tiers label:not([for="custom-amount"]) {
  flex: 1 1 0;
  padding: var(--padding);
  background: var(--theme);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
  transition: var(--link-transition);
  align-content: center;
}

:is(#donation-type, #donation-amount) input:checked + label {
  background: var(--link-color);
  color: var(--theme);
}

:is(#donation-type, #donation-amount) label:hover,
:is(#donation-type, #donation-amount) input:checked + label:hover {
  background: var(--link-hover-color);
  color: var(--theme);
}

[id^="message-monthly-"],
#donation-form:has(#once:checked) :is(#corporate-sponsor, #message-monthly-default),
#donation-form:has(#once:checked):has(#donate-checkbox:disabled) #message-once-choice,
#donation-form:has(#once:checked):not(:has(#donate-checkbox:disabled)) #message-once-default,
#donation-form:has(#once:checked):has(#custom-amount:invalid) :is(#message-once-default, #message-once-choice),
#message-once-error,
#donation-form:has(#monthly:checked) :is(#custom-amount-box, #message-once-default, #message-once-choice) {
  display: none;
}

#donation-form:has(#monthly:checked):not(:has([id^="monthly-"]:checked)) #message-monthly-default {
  display: block;
}

#donation-form:has(#once:checked):has(#custom-amount:invalid) #message-once-error {
  display: block;
  color: red;
}

#custom-amount:not(:valid) {
  color: red;
}

#donation-form:has(#once:checked) .once,
#donation-form:has(#monthly:checked) .monthly {
  display: grid;
}

#custom-amount-box,
#corporate-sponsor {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--padding);
  background: var(--theme);
  border-radius: var(--radius);
  color: var(--secondary);
  text-align: center;
  transition: var(--link-transition);
}

#custom-amount-box.active:has(#custom-amount:valid:not(:placeholder-shown)) {
  background: var(--link-color);
}

#corporate-sponsor:hover,
:is(#custom-amount-box.active, #custom-amount-box:hover):has(#custom-amount:valid:not(:placeholder-shown)):hover {
  background: var(--link-hover-color);
  color: var(--theme);
}

:is(#custom-amount-box.active, #custom-amount-box:hover):has(#custom-amount:valid:not(:placeholder-shown))
  :is([for="custom-amount"], #custom-amount) {
  color: var(--theme);
}

#custom-amount-box:hover:has(#custom-amount:placeholder-shown)
  :is([for="custom-amount"], #custom-amount) {
  color: var(--link-color);
}

#custom-amount,
#corporate-sponsor {
  width: 100%;
  color: var(--secondary);
  text-align: center;
}

#currency-toggle {
  grid-column: span 1;
  padding: var(--padding);
  color: var(--secondary);
  text-align: center;
  font-size: var(--m);
  border: none;
  background: var(--theme);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
  transition: var(--link-transition);
}

#currency-toggle:hover {
  background: var(--link-hover-color);
  color: var(--theme);
}

#donation-message {
  line-height: var(--m);
}

#donation-payment {
  width: 100%;
  display: flex;
  gap: calc(var(--gap) * 0.5);
  border: none;
  padding: 0;
}

[for="donate-checkbox"], [id^="payment-"] {
  width: 100%;
  padding: var(--padding);
  font-weight: bold;
  border: none;
  background: var(--link-color);
  color: var(--theme);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none
}

:is([for="donate-checkbox"], [id^="payment-"]):hover:not(:disabled) {
  background: var(--link-hover-color);
}

#donation-payment:has(#donate-checkbox:disabled) [for="donate-checkbox"],
:is([for="donate-checkbox"], [id^="payment-"]):disabled {
  background: var(--tone);
  cursor: not-allowed;
}

#donation-payment:has(#donate-checkbox:checked) [id^="payment-"],
#donation-payment:has(#donate-checkbox:disabled) [for="donate-checkbox"] {
  display: block;
}

#donate-checkbox,
#donation-payment:has(#donate-checkbox:not(:disabled):checked) [for="donate-checkbox"],
#donation-payment:has(:is(#donate-checkbox:not(:checked), #donate-checkbox:disabled)) [id^="payment-"],
#donation-form:has(#monthly:checked) [id="payment-stripe"] {
  display: none;
}

#donation-popover {
  padding: calc(var(--gap) * 3);
  color: var(--secondary);
  background: var(--theme);
  border: none;
  border-radius: var(--radius);
}

#donation-popover::backdrop {
  background: var(--backdrop);
}

#donation-popover .close {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--link-color);
  color: var(--cover);
  cursor: zoom-out;
}

#donation-popover .close:hover {
  background: var(--link-hover-color);
}


/* Sponsors list */

.sponsors {
  padding: var(--gap) calc((100vw - var(--width)) * 0.5);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background: var(--entry);
}

.sponsors-tier {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sponsor-entry {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: var(--gap);
  background: var(--theme);
  border-radius: var(--radius);
  transition: var(--link-transition);
}

.sponsors-tier a:hover .sponsor-entry {
  filter: var(--filter);
  transform: var(--transform-hover);
}

:is(.gold, .corporate) {
  height: calc(4rem + (var(--gap) * 2));
}

.sponsor-entry svg,
.sponsor-logo {
  height: 4rem;
  width: auto;
  color: var(--secondary);
}


/* Other stuff: random or temporary for development purposes */

.full-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-inline: -50vw;
  margin-inline-end: -50vw;
  max-width: 100vw;
  width: 100vw;
}


/* Link render hook tooltip. */

.has-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}

.has-tooltip .tooltip {
  display: none;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: var(--header);
  color: var(--secondary);
  padding: var(--gap);
  border: 1px solid var(--tone);
  border-radius: var(--radius);
  font-size: var(--s);
  line-height: 1.5;
  width: max-content;
  max-width: var(--content-width);
}

:is(.has-tooltip:hover, .has-tooltip:focus) .tooltip {
  display: flex;
}

.has-tooltip .tooltip strong {
  font-size: var(--m);
  margin-bottom: calc(var(--gap) * 0.5);
}


/* Code block render hook. */

.codeblock {
  margin: calc(var(--gap) * 0.5) auto;
  background: var(--entry);
  border-radius: var(--radius);
}

.codeblock-file {
  padding: var(--gap);
  background: var(--tone);
  border-radius: var(--radius);
}

.codeblock-file svg {
  display: inline-block;
  margin-inline-end: 0.25rem;
  vertical-align: -0.125rem;
  width: 1rem;
  height: 1rem;
}

:is(details, blockquote, .tabs-content) :is(details, code, blockquote, .chroma, .codeblock) {
  background: var(--theme);
}

:is(details, blockquote) :is(details, blockquote, .codeblock) {
  margin: calc(var(--gap) * 0.5) var(--gap);
  padding: 0;
}