/* This CSS stylesheet defines the style for different media devices to have a responsive and fluid layout */


/* Small screen devices in portrait orientation (e.g. smartphones). */
@media screen and (orientation: portrait) and (width <= 500px) {

  /* For fluid typography and layout */
  html {
    font-size: clamp(0.9rem, 2vw + 0.5rem, 1.5rem);
  }

  /* Theme-vars */
  :root {
    --width: calc(100vw - (var(--gap) * 2));
    --content-width: var(--width);
    --card-width: var(--width);

    --s: 0.75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;
    --xxl: 2rem;
  }

  main {
    min-height: auto;
  }

  .site-nav {
  }

  .menu {
    order: 3;
  }

  .language-dropdown {
    order: 2;
  }

  .logo :is(img, svg) {
    height: var(--xxl);
  }

  :is(.lang-toggle, #chroma-toggle, .cross, .hamburger) svg {
    height: var(--xl);
  }

  :is(#menu-list, #lang-list):popover-open {
    width: var(--width);
  }

  .chroma-toggle {
    order: 1;
    margin: auto 0;
  }

  .menu-list .button {
    line-height: normal;
  }


  /* List and Single pages */
  .hero {
    min-height: calc(100dvh - var(--header-height));
  }

  .kind-page .hero {
    min-height: calc(var(--width) * 0.5);
  }

  .buttons,
  .metadata,
  .card {
    flex-direction: column;
  }

  .card {
    min-height: calc(var(--width) * 0.25);
  }

  .hero .entry-cover img {
    height: calc(100dvh - var(--header-height));
  }

  .hero .article-cover img {
    width: 100%;
    height: auto;
    max-height: var(--width);
  }

  .content {
    max-width: var(--width);
  }

  .content img:not([popover] img, blockquote img) {
    max-height: var(--width);
  }

  .content div[popover] {
    padding: 0;
  }

  .content [popover] img {
    height: auto;
    max-height: 80dvh;
    max-width: 100vw;
    border-radius: 0;
  }

  .content .close {
    width: 3rem;
    height: 3rem;
  }

  .box {
    padding: calc(var(--gap) * 2) 0;
  }

  .box-content:has(.column) {
    flex-direction: column;
  }

  .box img:not([popover] img, blockquote img) {
    max-height: calc(var(--width) - (var(--gap) * 2));
  }

  .column:has([popovertarget]) {
    padding: 0;
  }

  .download-box {
    flex-direction: column;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card-icon svg {
    height: calc(var(--width) * 0.2);
  }

  .chart {
    flex-direction: column;
    gap: var(--gap);
  }

  .donut,
  .donut-legend {
    align-self: auto;
  }

  .toot-card {
    margin: var(--gap) 0;
  }

  .footer-section {
    flex: 1 1 calc(var(--width)/3);
  }

  .footer-section:last-child {
    flex: 2 0 auto
  }

  #shareForm {
    width: 100%;
    padding: var(--gap);
  }

  .calendar {
    height: calc(var(--width) * 1.8);
  }

  #donation-form {
    width: var(--width);
  }

  #donation-amount {
    grid-template-rows: calc(2fr + var(--gap)) 1fr;
  }

  #donation-amount .tiers {
    grid-template-columns: 1fr 1fr;
  }

  #custom-amount-box,
  #corporate-sponsor,
  #currency-toggle {
    grid-column: span 2;
  }

  #donation-payment {
    flex-direction: column;
  }

  /* Archive */
  .archive-month {
    flex-direction: column;
  }

  .archive-month-header {
    text-align: center;
    width: var(--width);
  }

  .archive-year {
    margin-top: var(--gap);
  }
}


/* Small screen devices in landscape orientation (e.g. smartphones). */
@media screen and (orientation: landscape) and (height <= 500px) {

  :root {
    --width: calc(100vw - (var(--gap) * 2));
    --content-width: var(--width);
    --card-width: calc((var(--width) * 0.5) - var(--gap));
  }
}


/* Medium screen devices (e.g. tablets and old desktops). */
/* NOTE: horizontal navigation menu is hidden, vertical popover menu is displayed instead. */
@media screen and (width <= 999px) {

  .menu-list {
    display: none;
  }

  .menu-list a {
    text-align: center;
    margin: 0.5rem;
    padding: 0;
    display: inline-block;
  }

  .menu-list .menu-active:not(.button) {
    margin: 0.5rem;
    padding: 0;
  }
}


/* Bigger screen devices (e.g. desktops, laptops, high-end tablets). */
@media screen and (width >= 1000px) {

  .menu-toggle {
    display: none;
  }
}


/* Reduced motion devices. */
@media (prefers-reduced-motion) {

  :root {
    --transform-hover: none;
    --transform-active: none;
  }
}
