/* Shortcodes stylesheet. */


/* Block and card shortcodes */

.block {
  padding: calc(var(--gap) * 2);
}

.block-title {
  text-align: center;
  max-width: var(--width);
  margin: auto;
}

.block-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  padding: var(--gap);
  max-width: var(--width);
  border-radius: var(--radius);
}

.block-content:has(.card-shortcode) {
  flex-direction: row;
  justify-content: space-around;
}

.card-shortcode, .card-shortcode > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--gap) * 0.5);
  flex: 1;
  padding: var(--gap);
  color: var(--secondary);
  border-radius: var(--radius);
  text-align-last: center;
  transition: var(--link-transition);
}

.card-shortcode :is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

.card-shortcode:has(> a) {
  background: var(--theme);
  max-width: var(--card-width);
}

.card-shortcode:has(> a):hover {
  filter: var(--filter);
  transform: var(--transform-hover);
}

.content .card-shortcode img:not([popover] img, blockquote img) {
  max-height: calc(var(--width) * 0.25);
}


/* Merge shortcode. */

.merge {
  background: var(--entry);
  padding: calc(var(--gap) * 0.25) 0 0 calc(var(--gap) * 0.25);
  border-radius: var(--radius);
}

.merge svg {
  vertical-align: -0.125rem;
}


/* Tabs shortcodes */

.tabs {
  margin: var(--gap) auto;
  background: var(--entry);
  border-radius: var(--radius);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.tabs label {
  display: inline-block;
  padding: var(--padding);
  border-radius: var(--radius) var(--radius) 0 0;
  cursor: pointer;
}

.tabs :is(input[type="radio"]:checked, label):hover {
  background: var(--link-hover-color);
}

.tabs input {
  display: none;
}

.tabs-content {
  order: 999; /* Move content blocks to end of flex container*/
  width: 100%;
  padding: var(--gap);
  display: none;
  border-top: var(--line) solid var(--tone);
}

.tabs input[type="radio"]:checked + label {
  background: var(--tone);
}

.tabs input[type="radio"]:checked + label + .tabs-content {
  display: block;
}


/* Tree, branch and leaf shortcode. */

.tree {
  padding: var(--gap);
  border-radius: var(--radius);
  text-align: center;
  background: var(--entry);
}

.tree-name, li:has(.branch), li:has(.leaf) {
  list-style: none;
}

.branch-open,
input:checked + .branch .branch-closed,
input:not(:checked) + .branch + ul {
  display: none;
}

input:checked + .branch :is(+ ul, .branch-open) {
  display: block;
}

.branch + ul {
  transition: var(--link-transition);
}

:is(.branch, .leaf) svg {
  vertical-align: -0.25rem;
}

.branch, .leaf {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) * 0.25);
  user-select: none;
}

.branch {
  font-weight: bold;
  cursor: pointer;
}


/* Steps shortcode. */

.steps {
  margin: calc(var(--gap) * 2) auto;
  counter-reset: step;
  border-left: var(--border);
  margin-left: var(--gap);
}

.steps :is(h1, h2, h3, h4, h5, h6) {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
}

.steps > :not(:where(h2, h3, h4, h5, h6):not(.no-step)) {
  margin-left: 3rem;
}

.steps :where(h2, h3, h4, h5, h6):not(.no-step)::before {
  counter-increment: step;
  content: counter(step);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: var(--m);
  color: var(--theme);
  background: var(--tone);
  outline: var(--theme) solid var(--gap);
  border-radius: 50%;
  transform: translateX(-1rem);
  flex-shrink: 0;
}


/* Images carousel shortcode. */

.carousel {
  position: relative;
  margin: var(--gap) 0;
}

.carousel ul {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background: var(--tone);
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  cursor: ew-resize;
  user-select: none;
  border-radius: var(--radius);
}

.carousel ul.grabbing {
  cursor: grabbing;
  scroll-snap-type: none;
}

/* Hide scrollbar for Chrome, Safari, Opera, etc. */
.carousel ul::-webkit-scrollbar {
  display: none;
}

.carousel ul li {
  position: relative;
  margin: 0;
  min-width: 100%;
  list-style: none;
  background: url() center center / cover no-repeat;
  scroll-snap-align: start;
  pointer-events: none;
}

.carousel ul li > img {
  border-radius: 0;
}

.carousel ol {
  position: absolute;
  bottom: var(--gap);
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  margin: 0;
}

.carousel ol li {
  list-style: none;
  padding: 0 calc(var(--gap) * 0.5);
}

.carousel ol li a {
  display: block;
  height: var(--m);
  width: var(--m);
  border: var(--line) solid var(--entry);
  border-radius: 100%;
  transition: var(--link-transition);
}

.carousel ol li.selected a {
  background: var(--entry);
  transform: scale(1.5);
}

.carousel ol li a:hover {
  border: var(--line) solid var(--link-hover-color);
  background: var(--link-hover-color);
}

.carousel .prev, .carousel .next {
  position: absolute;
  top: 50%;
  left: var(--gap);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  padding: var(--gap);
  opacity: 0;
  background: var(--backdrop);
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  cursor: pointer;
  transition: var(--link-transition);
  z-index: 3;
}

.carousel .next {
  left: auto;
  right: var(--gap);
}

.carousel:hover .prev,
.carousel:hover .next {
  opacity: 1;
  pointer-events: auto;
}

.carousel :is(.prev, .next):hover {
  background: var(--link-hover-color);
}

.carousel :is(.prev, .next) svg {
  height: var(--l);
}


/* Compare shortcode. */

.compare {
  position: relative;
  margin: var(--gap) 0;
  width: 100%;
  max-width: var(--width);
  cursor: ew-resize;
  user-select: none;
  touch-action: none;
}

.compare .before {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  display: block;
}

.compare .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  overflow: visible;
  clip-path: inset(0 0 0 50%);
  display: block;
}

.compare .divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--line);
  background: var(--theme);
  z-index: 4;
  pointer-events: none;
}

.compare .handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--theme);
  touch-action: none;
  pointer-events: none;
  transition: transform 0.2s ease;
}

.compare:hover .handle {
  transform: translate(-50%, -50%) scale(1.5);
}

.compare:has(.handle.active) {
  cursor: grabbing;
}

.compare .handle svg {
  height: var(--l);
  pointer-events: none;
}


/* Canvas shortcode. */

.canvas {
  position: relative;
  display: block;
}

.canvas canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: var(--radius);
  cursor: grab;
  touch-action: pan-y;
}

.canvas.grabbing canvas {
  cursor: grabbing;
}

.canvas .controls {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--gap);
  align-items: center;
  background: var(--backdrop);
  padding: var(--padding);
  border-radius: var(--radius);
  opacity: 0;
  pointer-events: none;
  transition: var(--link-transition);
}

.canvas .controls :is(.play, .pause) {
  color: var(--secondary);
}

.canvas .controls :is(.play, .pause):hover {
  color: var(--link-hover-color);
}

.canvas .controls svg {
  vertical-align: calc(var(--gap) * -0.125);
}

.canvas:hover .controls {
  opacity: 1;
  pointer-events: auto;
}

.canvas .controls .pause,
.canvas.playing .controls .play {
  display: none;
}

.canvas.playing .controls .pause {
  display: inline-block;
}
