/* This CSS stylesheet defines the general variables (e.g. dimensions, colors, font) for both Light and Dark chroma. For the text in code blocks, go to highlight.css */


:root {
  --width: clamp(56rem, 20rem + 50vw, 100rem);
  --content-width: 90ch;
  --header-height: 4rem;
  --footer-height: 4rem;
  --radius: 0.5rem;
  --gap: 1rem;
  --line: 0.125rem;
  --padding: 0.75rem 1.5rem;
  --card-width: clamp(16rem, 4rem + 17.5vw, 32rem);
  --sans: -apple-system, Arial, Verdana, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', 'Avenir Next', Avenir, 'Nimbus Sans L', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  --mono: "Lucida Console", Monaco, Menlo, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
  --filter: brightness(1.1) saturate(110%);
  --transform-hover: scale(1.02);
  --transform-active: scale(0.95);

  --cover: rgb(255, 255, 255);
  --header: rgb(252, 252, 252);
  --entry: rgb(248, 248, 248);
  --theme: rgb(240, 240, 240);
  --tone: rgb(224, 224, 224);
  --footer: rgb(192, 192, 192);
  --primary: rgb(32, 32, 32);
  --secondary: rgb(64, 64, 64);
  --tertiary: rgb(96, 96, 96);
  --backdrop: rgba(255, 255, 255, 0.75);

  --link-color: rgb(65, 143, 222);
  --link-hover-color: rgb(102, 177, 255);
  --underline: underline solid currentColor var(--line);
  --link-transition: all 0.3s ease-in-out;

  --border: var(--line) solid var(--tone);
  --outline: none;

  --shadow: 0 0 4rem black;

/* Variables for text sizes: small (terms, footnotes), medium (normal text), large (h3), extra large (h2), extra extra large (h1) */
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.5rem;
  --xl: 2.25rem;
  --xxl: 3.5rem;
  --xxxl: 5.5rem;

/* Variables for backgrounds */
  --bg1: rgb(232, 232 , 232);
  --bg2: rgb(224, 224 , 224);
  --bg3: rgb(216, 216 , 216);
  --bg-linear: linear-gradient(var(--entry), var(--theme));
  --bg-grid-s: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 8px),
    repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 8px);
  --bg-grid-m: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 16px),
    repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 16px);

}


/* If changing Dark chroma values, do not forget to update them in layouts/partials/head.html as well */

.dark {
  --header: rgb(16, 16, 16);
  --theme: rgb(32, 32, 32);
  --entry: rgb(48, 48, 48);
  --tone: rgb(64, 64, 64);
  --footer: rgb(80, 80, 80);
  --primary: rgb(240, 240, 240);
  --secondary: rgb(224, 224, 224);
  --tertiary: rgb(208, 208, 208);
  --backdrop: rgba(0, 0, 0, 0.75);
  --link-color: rgb(102, 177, 255);
  --link-hover-color: rgb(65, 143, 222);

  --border: var(--line) solid var(--tone);

  /* Variables for backgrounds */
  --bg1: rgb(56, 56 , 56);
  --bg2: rgb(64, 64 , 64);
  --bg3: rgb(72, 72 , 72);
  --bg-linear: linear-gradient(var(--entry), var(--theme));
  --bg-grid-s: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 8px),
    repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 8px);
  --bg-grid-m: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 16px),
    repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 16px);
}