{{- /* Processable article cover image. */ -}}

{{- /* Get cover image utility attributes. */ -}}
{{- $img := partial "cover/utils.html" . -}}

{{- if not (in (slice "category" "section") $img.kind) -}}
  {{- with $img.cover -}}
    <figure class="article-cover">

      {{- /* Cover image is present in page bundle. */ -}}
      {{- if in $img.processableFormats .MediaType.SubType -}}

        {{- $srcset := slice -}}
        {{- $widths := slice -}}
        {{- range $dimensions := site.Params.resizeDimensions.article -}}
          {{- $width := int (index (split $dimensions "x") 0) -}}
          {{- if lt $width $img.cover.Width -}}
            {{- $resized := $img.cover.Resize (printf "%dx %s %s" $width $img.resizeFormat) -}}
            {{- $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink $width) -}}
            {{- $widths = $widths | append $width -}}
          {{- end -}}
        {{- end -}}
        {{- $srcset = $srcset | append (printf "%s %dw" .RelPermalink .Width) -}}

        {{- $sizes := slice -}}
        {{- range $width := $widths -}}
          {{- $sizes = $sizes | append (printf "(max-width: %dpx) %dpx" $width $width) -}}
        {{- end -}}
        {{- $sizes = $sizes | append "75vw" -}}

        <img
          srcset="{{ delimit $srcset ", " }}"
          sizes="{{ delimit $sizes ", " }}"
          src="{{ .RelPermalink }}"
          alt="{{ $img.alt }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
          loading="eager"
          fetchpriority="high">

      {{- /* Unprocessable image or responsive images disabled. */ -}}
      {{- else if .RelPermalink -}}
        <img src="{{ .RelPermalink . }}"
          alt="{{ $img.alt }}"
          loading="eager"
          fetchpriority="high">

      {{- /* For absolute urls and external links, no img processing here. */ -}}
      {{- else -}}
        <img src="{{ . | absURL }}"
          alt="{{ $img.alt }}"
          loading="eager"
          fetchpriority="high">
      {{- end -}}

      {{- /* Display Caption. */ -}}
      {{- with $.Params.cover.caption -}}
        <figcaption>
          {{ . | $.Page.RenderString }}
        </figcaption>
      {{- end -}}

    </figure>
  {{- end -}}
{{- end -}}