{{- /* Processable article card cover image. */ -}}

{{- /* Get cover image utility attributes. */ -}}
{{- $img := partial "cover/utils.html" . -}}

{{- with $img.cover -}}
  <figure class="entry-cover">

    {{- /* Cover image is present in page bundle. */ -}}
    {{- if in $img.processableFormats .MediaType.SubType -}}

      {{- $srcset := slice -}}
      {{- $sizes := slice -}}
      {{- range $dimensions := site.Params.resizeDimensions.card -}}
        {{- $width := int (index (split $dimensions "x") 0) -}}
        {{- if lt $width $img.cover.Width -}}
          {{- $resized := $img.cover.Fill (printf "%s %s %s" $dimensions $img.anchor $img.resizeFormat) -}}
          {{- $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink $width) -}}
          {{- $sizes = $sizes | append (printf "%dpx" $width) -}}
        {{- end -}}
      {{- end -}}
      {{- $srcset = $srcset | append (printf "%s %dw" .RelPermalink .Width) -}}

      <img
        srcset="{{ delimit $srcset ", " }}"
        sizes="{{ delimit $sizes ", " }}"
        src="{{ .RelPermalink }}"
        alt="{{ $img.alt }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        loading="lazy"
        fetchpriority="low">

    {{- /* Unprocessable image or responsive images disabled. */ -}}
    {{- else if .RelPermalink -}}
      <img src="{{ .RelPermalink }}"
        alt="{{ $img.alt }}"
        loading="lazy"
        fetchpriority="low">

    {{- /* For absolute urls and external links, no img processing here. */ -}}
    {{- else -}}
      <img src="{{ . | absURL }}"
        alt="{{ $img.alt }}"
        loading="lazy"
        fetchpriority="low">
    {{- end -}}

  </figure>
{{- end -}}