{{- /* Processable page hero cover image. */ -}}

{{- /* Get cover image utility attributes. */ -}}
{{- $img := partial "cover/utils.html" . -}}

{{- with $img.cover -}}
  <figure class="entry-cover">

    {{- /* Cover image is present in page bundle. */ -}}
    {{- if in $img.processableFormats .MediaType.SubType -}}
      <img
        srcset="
          {{ printf "%s %dw, " ((.Fill (printf "%dx%d %s %s" $img.w1 $img.w2 $img.anchor $img.resizeFormat)).RelPermalink) $img.w1 }}
          {{ printf "%s %dw, " ((.Fill (printf "%dx%d %s %s" $img.w2 $img.w1 $img.anchor $img.resizeFormat)).RelPermalink) $img.w2 }}
          {{ printf "%s %dw, " ((.Fill (printf "%dx%d %s %s" $img.w3 $img.w2 $img.anchor $img.resizeFormat)).RelPermalink) $img.w3 }}
          {{ printf "%s %dw" .RelPermalink .Width }}"
        sizes="
            (max-width: {{ $img.w1 }}px) {{ $img.w1 }}px,
            ((min-width: {{ $img.w1 }}px) and (max-width: {{ $img.w2 }}px)) {{ $img.w2 }}px,
            ((min-width: {{ $img.w2 }}px) and (max-width: {{ $img.w3 }}px)) {{ $img.w3 }}px,
            100vw"
        src="{{ .RelPermalink }}"
        alt="{{ $img.alt }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        fetchpriority="high">

    {{- /* Unprocessable image or responsive images disabled. */ -}}
    {{- else if .RelPermalink -}}
      <img src="{{ path.Join $.RelPermalink . }}" alt="{{ $img.alt }}">

    {{- /* For absolute urls and external links, no img processing here. */ -}}
    {{- else -}}
      <img src="{{ . | absURL }}" alt="{{ $img.alt }}">
    {{- end -}}

    {{- /* Display Caption. */ -}}
    {{- if $.IsHome -}}
      {{- with $.Params.cover.caption -}}
        <p>
          {{ .RenderString }}
        </p>
      {{- end -}}
    {{- end -}}
  </figure>
{{- end -}}