{{- /* Processable page hero cover image. */ -}}

{{- /* Get cover image utility attributes. */ -}}
{{- $img := partial "cover/utils.html" . -}}

{{- with $img.cover -}}
  <figure class="entry-cover">

    {{- /* Cover image is present in page bundle. */ -}}
    {{- if in $img.processableFormats .MediaType.SubType -}}

      {{- $srcset := slice -}}
      {{- range $dimensions := site.Params.resizeDimensions.hero -}}
        {{- $width := int (index (split $dimensions "x") 0) -}}
        {{- if lt $width $img.cover.Width -}}
          {{- $resized := $img.cover.Fill (printf "%s %s %s" $dimensions $img.anchor $img.resizeFormat) -}}
          {{- $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink $width) -}}
        {{- end -}}
      {{- end -}}
      {{- $srcset = $srcset | append (printf "%s %dw" .RelPermalink .Width) -}}

      <img
        srcset="{{ delimit $srcset ", " }}"
        sizes="100vw"
        src="{{ .RelPermalink }}"
        alt="{{ $img.alt }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        loading="eager"
        fetchpriority="high">

    {{- /* Unprocessable image or responsive images disabled. */ -}}
    {{- else if .RelPermalink -}}
      <img src="{{ .RelPermalink }}"
        alt="{{ $img.alt }}"
        loading="eager"
        fetchpriority="high">

    {{- /* For absolute urls and external links, no img processing here. */ -}}
    {{- else -}}
      <img src="{{ . | absURL }}"
        alt="{{ $img.alt }}"
        loading="eager"
        fetchpriority="high">
    {{- end -}}

    {{- /* Display Caption. */ -}}
    {{- if $.IsHome -}}
      {{- with $.Params.cover.caption -}}
        <figcaption>
          {{ .RenderString }}
        </figcaption>
      {{- end -}}
    {{- end -}}

  </figure>
{{- end -}}