{{- /* Block Shortcode:

  - Full-width block layout.
  - Optional custom CSS styles and Markdown title.

*/ -}}

{{- $content := .InnerDeindent | default (cond (.IsNamedParams) (.Get "content") (.Get 0)) | default "No content provided" | strings.TrimSpace -}}
{{- $title := cond (.IsNamedParams) (.Get "title") (.Get 1) | replaceRE "^#+\\s*" "" -}}
{{- $blockStyle := cond (.IsNamedParams) (.Get "style") (.Get 2) -}}
{{- $contentStyle := cond (.IsNamedParams) (.Get "content-style") (.Get 3) -}}

<div class="block wide"
  {{ with $blockStyle }}style="{{ . | safeCSS }}"{{ end }}>
  {{- with $title -}}
    <div class="block-title">
      {{- printf "## %s" . | $.Page.RenderString -}}
    </div>
  {{- end -}}
  {{- with $content -}}
    <div class="block-content"
      {{ with $contentStyle }}style="{{ . | safeCSS }}"{{ end }}>
      {{- . | $.Page.RenderString -}}
    </div>
  {{- end -}}
</div>