{{- /* Merge Shortcode:

  - Useful for linking Git changes like Pull Requests and Commits.
  - Add a merge icon and display PR/MR number or short commit hash.
  - Use: {{< merge "https://github.com/project/project/pull/123456" >}}
*/ -}}

{{- $url := .Get 0 | default "" | lower -}}
{{- $text := "" -}}
{{- $fallback := i18n "merge" | default "View code change" -}}

{{- with findRE `(?:pulls?|merge_requests?)/(\d+)(?:$|[^a-zA-Z0-9])` $url -}}
  {{- with index . 0 | replaceRE `.*?/(\d+)(?:$|[^a-zA-Z0-9])` "$1" -}}
    {{- $text = printf "#%s" . -}}
  {{- else -}}
    {{- $text = $fallback -}}
  {{- end -}}

{{- /* Fallback to commit hash. */ -}}
{{- else with findRE `(?:commits?|commit)/([0-9a-f]+)(?:$|[^0-9a-fA-F])` $url -}}
  {{- with index . 0 | replaceRE `.*?/([0-9a-f]+)(?:$|[^0-9a-fA-F])` "$1" -}}
    {{- $text = slicestr . 0 8 -}}
  {{- else -}}
    {{- $text = $fallback -}}
  {{- end -}}
{{- else -}}
  {{- $text = $fallback -}}
{{- end -}}

<a class="merge" href="{{ $url }}" title="{{ $fallback }}">
  {{- partial "utils/icon.html" "versions" -}}
  {{ $text }}
</a>
