{{- /* Tree shortcode:

@param {string} name The name of the tree.
@param {string} style The CSS style of the tree.

@example {{< tree name="Tutorials" style="background: green;" >}}
*/ -}}

{{- $name := cond (.IsNamedParams) (.Get "name") (.Get 0) -}}
{{- $style := cond (.IsNamedParams) (.Get "style") (.Get 1) | safeCSS -}}


<ul class="tree" {{ with $style }}style="{{ . }}"{{ end }}>
  {{- with .InnerDeindent -}}
    {{ . }}
  {{- end -}}

  {{- with $name -}}
    <li class="tree-name">
      {{ . | title | $.Page.RenderString }}
    </li>
  {{- end -}}
  </ul>
