{{- /* Custom rendering hook for content links:

  - External links open in new tab and include icon.
  - Internal links show tooltip preview on hover.
*/ -}}

{{- $href := .Destination | safeURL -}}
{{- $isExternal := and (strings.HasPrefix .Destination "http") (not (strings.HasPrefix .Destination site.BaseURL)) -}}
{{- $title := .Title | plainify -}}
{{- $fallback := i18n "link" | default "Open link" -}}
{{- $text := .Text | safeHTML -}}

<a href="{{ $href }}"
  {{- if not $isExternal -}}
    class="has-tooltip"
  {{- end -}}
  {{- with $title -}}
    title="{{ . }}"
  {{- else -}}
    title="{{ $fallback }}"
  {{- end -}}
  {{- if $isExternal -}}
    target="_blank" rel="external noreferrer"
  {{- end -}}>
  {{- with $text -}}
    {{ . }}
  {{- end -}}
  {{- if $isExternal -}}
    <span class="external">
      {{- partial "utils/icon.html" "external" -}}
    </span>

  {{- else -}}
    {{- with .Page.GetPage .Destination -}}
      <span class="tooltip">
        <strong>
          {{- .Title -}}
        </strong>
        {{- .Description -}}
      </span>
    {{- end -}}
  {{- end -}}
</a>
