<article class="article-card">
  {{- if .Params.categories -}}
    {{- with index (.GetTerms "categories") 0 -}}
      <span class="category">
        <a href="{{ .RelPermalink }}">
          {{ .LinkTitle | .RenderString }}
        </a>
      </span>
    {{- end -}}
  {{- end -}}

  <a href="{{ .Permalink }}"
  aria-label="{{ .Title | plainify }}"
  title="{{ .Title | plainify }}">

    {{- /* Get article card cover image. */ -}}
    {{- partial "cover/card.html" . -}}

    {{- if not .Date.IsZero -}}
      <span class="entry-date">
        <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}">
          {{ .Date | time.Format ":date_long" }}
        </time>
      </span>
    {{- end -}}

    <h3 class="entry-title">
      <span>
        {{ .Title | .RenderString }}
      </span>
      {{- if .Draft }}
        <sup>
          <span class="entry-isdraft">
            [{{- i18n "draft" | default "Draft" -}}]
          </span>
        </sup>
      {{- end -}}
    </h3>

    {{- if not (.Param "hideSummary") -}}
      <p class="entry-description">
        {{- if .Description -}}
          {{ .Description | .RenderString }}
        {{- end -}}
      </p>
    {{- end -}}
  </a>
</article>