{{/* Custom Footer links from 'data/footer_links.yaml' without parent sections. */}}

<section class="footer-custom">
  {{- range . -}}
    {{- if not .parent -}}
      {{- $isExternal := and
        (strings.HasPrefix .url "http")
        (not (strings.HasPrefix .url site.BaseURL))
      -}}
      <a href="{{ if $isExternal }}{{ .url }}{{ else }}{{ .url | relURL }}{{ end }}"
        title="{{ .title | plainify }}"
        {{ if $isExternal }}target="_blank" rel="external noreferrer"{{ end }}>
        {{ .title }}
        {{- if $isExternal -}}
          <span class="external">
          {{- partial "icon.html" "external" -}}
        </span>
        {{- end -}}
      </a>
    {{- end -}}
  {{- end -}}
</section>
