{{/* Column Shortcode:
  - Useful when nested in a box shortcode to clearly separate content in columns.
  - Optional custom CSS styles and Markdown title.
  - Support content via argument "content" or inner content.
*/}}

{{- $inner := or (.Get "content" | .Page.RenderString) (strings.TrimSpace .Inner | .Page.RenderString) "" -}}

{{- $title := .Get "title" | replaceRE "^#+\\s*" "" -}}
{{- $url := .Get "url" -}}
{{- $isExternal := and (strings.HasPrefix $url "http") (not (strings.HasPrefix $url site.BaseURL)) -}}
{{- $extraStyle := .Get "style" -}}

{{- $styleKeys := slice "background" "border" "color" "text-align" "width" -}}

{{/* Build column style */}}
{{- $styleColumn := slice -}}
{{- range $styleKey := $styleKeys -}}
  {{- with $.Get $styleKey }}
    {{- $styleColumn = $styleColumn | append (printf "%s: %s;" $styleKey .) -}}
  {{- end -}}
{{- end -}}
{{- with $extraStyle -}}
  {{- $styleColumn = $styleColumn | append . -}}
{{- end -}}
{{- $columnStyle := delimit $styleColumn " " | safeCSS -}}

<section class="column">
  {{- with $title -}}
    <div class="column-title">
      {{ printf "## %s" . | $.Page.RenderString }}
    </div>
  {{- end -}}
  {{- with $inner -}}
    {{- with $url -}}
      <a class="column-link" href="{{ . }}"
        {{- with $title -}}
          title="{{ . | $.Page.RenderString | plainify | htmlEscape }}"
        {{- end -}}
        {{- if $isExternal -}}
          target="_blank" rel="external noreferrer"
        {{- end -}}>
    {{- end -}}
    <div class="column-content"
      {{ with $columnStyle }}style="{{ . }}"{{ end }}>
      <div class="column-inner">
        {{ . }}
      </div>
    </div>
    {{- with $url -}}
      </a>
    {{- end -}}
  {{- end -}}
</section>