{{- /* Custom Footer links:

  - Get links from 'data/footer_links.yaml' without parent section.
  - Handle external links.
*/ -}}

<section class="footer-custom">
  {{- range . -}}
    {{- $url := .url -}}
    {{- $title := .title | default "Link" -}}
    {{- $isExternal := and
      (strings.HasPrefix $url "http")
      (not (strings.HasPrefix $url site.BaseURL)
      )
    -}}

    {{- if $url -}}
      <a href="{{ cond $isExternal ($url | safeURL) ($url | relURL | safeURL) }}"
        title="{{ $title | plainify }}"
        {{ if $isExternal }}target="_blank" rel="noopener noreferrer external"{{ end }}>
        {{ $title }}
        {{- if $isExternal -}}
          <span class="external">
            {{- with (partial "utils/icon.html" "external") -}}
              <span class="icon">{{ . }}</span>
            {{- end -}}
          </span>
        {{- end -}}
      </a>
    {{- end -}}
  {{- end -}}
</section>
