{{- $default := site.Sites.Default.GetPage .Path -}}
{{- $donate := merge $default.Params.donate .Params.donate | default dict -}}

{{- $monthlyTiers := slice -}}
{{- range $tier := site.Sites.Default.Params.donate.monthly.tiers -}}
  {{- $local := dict -}}
  {{- with $donate.monthly.tiers -}}
    {{- $local = index (where . "type" $tier.type) 0 -}}
  {{- end -}}
  {{- $monthlyTiers = $monthlyTiers | append (merge $tier $local) -}}
{{- end -}}

{{- $selectedCurrency := "€" -}}
{{- with index (where site.Params.donate.currencies "selected" true) 0 -}}
  {{- $selectedCurrency = .symbol -}}
{{- end -}}

<form id="donation-form"
  method="get"
  action="">

  <div id="donation-type">
    <input type="radio"
      id="once"
      name="donation-type"
      value="once"
      checked>
    {{- with $donate.once.label -}}
      <label for="once">{{ . }}</label>
    {{- end -}}

    <input type="radio"
      id="monthly"
      name="donation-type"
      value="monthly">
    {{- with $donate.monthly.label -}}
      <label for="monthly">{{ . }}</label>
    {{- end -}}
  </div>

  <div id="donation-amount">
    <div class="tiers once">
      {{- range $index, $tier := sort site.Params.donate.once.tiers "amount" -}}
        <input type="radio"
          id="once-{{ $index }}"
          name="amount"
          value="{{ $tier.amount }}"
          {{ if .checked }}checked{{ end }}>
        <label for="once-{{ $index }}">{{- printf "%s %v" $selectedCurrency $tier.amount -}}</label>
      {{- end -}}
    </div>

    <div class="tiers monthly" hidden>
      {{- range $index, $tier := sort $monthlyTiers "amount" -}}
        <input type="radio"
          id="monthly-{{ $index }}"
          name="amount"
          value="{{ $tier.amount }}"
          {{ if .checked }}checked{{ end }}>
        <label for="monthly-{{ $index }}">{{- printf "%s %v /mo" $selectedCurrency $tier.amount -}}</label>
      {{- end -}}
    </div>

    <div class="custom">
      <div id="custom-amount-box">
        <label for="custom-amount">€</label>
        <input
          type="number"
          id="custom-amount"
          min="5"
          step="1"
          inputmode="numeric"
          pattern="[0-9]+"
          placeholder="{{ i18n "amount" | default "Amount" }}">
      </div>

      {{- with $donate.corporateLabel -}}
        <a href="#corporate" id="corporate-sponsor" data-details-link>{{ . }}</a>
      {{- end -}}

      <select id="currency-toggle"
        name="currency"
        aria-label="Currency">
        {{- range site.Params.donate.currencies -}}
          <option value="{{ .code }}" {{ if .selected }}selected{{ end }}>{{- printf "%s %v" .symbol .code -}}</option>
        {{- end -}}
      </select>
    </div>
  </div>

  <div id="donation-payment">
    <input type="checkbox"
      id="donate-checkbox"
      name="donate"
      value="donate"
      required>

    {{- range $key, $value := $donate.once.messages -}}
      <label for="donate-checkbox" id="message-once-{{ $key }}">{{ $value | safeHTML }}</label>
    {{- end -}}

    {{- range $key, $value := $donate.monthly.messages -}}
      <label for="donate-checkbox" id="message-monthly-{{ $key }}">{{ $value | safeHTML }}</label>
    {{- end -}}

    {{- range $index, $tier := sort $monthlyTiers "amount" -}}
      <label for="donate-checkbox" id="message-monthly-{{ $index }}">{{ $tier.message | safeHTML }}</label>
    {{- end -}}

    {{- range sort site.Params.donate.payment "weight" -}}
      {{- if .url -}}
        <button type="submit"
          id="payment-{{ lower .platform }}"
          formaction="{{ .url }}"
          formmethod="get">
          {{ .platform }}
        </button>

      {{- else -}}
        <button type="button"
          id="payment-{{ lower .platform }}"
          popovertarget="donation-popover"
          popovertargetaction="toggle">
          {{ .platform }}
        </button>

        <div id="donation-popover" popover>
          <p><strong>{{ .title }}</strong></p>
          {{- range .details -}}
            {{- range $key, $value := . -}}
              <p><strong>{{ $key }}:</strong> {{ $value }}</p>
            {{- end -}}
          {{- end -}}

          <button class="close"
            popovertarget="donation-popover"
            popovertargetaction="hide">
            {{- with (partial "utils/icon.html" "cross") -}}
              <span class="icon">{{ . }}</span>
            {{- end -}}
          </button>
        </div>
      {{- end -}}
    {{- end -}}
  </div>

  <!-- Fallback for users without JS. -->
  <noscript>
    <!-- Nothing for now. -->
  </noscript>
</form>

<!-- Generates Style for Custom messages. -->
<style>
  {{- range $index, $tier := sort $monthlyTiers "amount" -}}
    #donation-form:has(#monthly-{{ $index }}:checked):not(:has(#donate-checkbox:checked)) #message-monthly-{{ $index }} {
      display: block;
      {{ with $tier.color }}background: {{ . }}{{ end }};
    }
  {{- end -}}
</style>
