{{- /* Funded Grants list:
  - Get Funded Grants List from Data JSON file.
  - Sort by last update.
  - Display Grants data in cards.
  - Link to all grants at the bottom. */ -}}

{{- $list := site.Data.grant_list -}}
{{- $grantsLink := .Params.grantsLink -}}
{{- $grantsTitle := .Params.grantsTitle | default "Funded Grants Projects" -}}

{{- with $list -}}
  {{- $sorted := sort $list "created_at" "desc" -}}

  <div class="grants">

    <div class="cards">
      {{- range (first 6 $sorted) -}}
          <a class="card"
            href="{{ .url }}">
            {{- with .title -}}
              <h3 class="card-title">{{- . | title -}}</h3>
            {{- end -}}

            <div class="card-metadata">
              {{- with .author  -}}
                <span class="meta">
                  {{- with (partial "utils/icon.html" "authors") -}}
                    <span class="icon">{{ . }}</span>
                  {{- end -}}
                  {{- truncate 40 . -}}
                </span>
              {{- end -}}

              {{- with .labels -}}
                <span class="meta">
                  {{- with (partial "utils/icon.html" "tags") -}}
                    <span class="icon">{{ . }}</span>
                  {{- end -}}
                  <span class="tags">
                    {{- range . -}}
                      <span>{{- . | title -}}</span>
                    {{- end -}}
                  </span>
                </span>
              {{- end -}}
            </div>
          </a>
      {{- end -}}
    </div>

    {{- with $grantsLink -}}
      <a href="{{ . }}"
        class="hero-button"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ $grantsTitle }}"
        title="{{ $grantsTitle }}">
        {{- $grantsTitle -}}
      </a>
    {{- end -}}

  </div>
{{- end -}}
