<div class="metadata">

  {{- if not .Date.IsZero -}}
    <span class="meta">
      {{- partial "utils/icon.html" "date" -}}
      <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}">{{ .Date | time.Format ":date_long" }}</time>
    </span>
  {{- end -}}

  {{- range $taxonomy, $map := site.Taxonomies -}}
    {{- $show := index site.Params (printf "show%s" (title $taxonomy)) | default false  -}}

    {{- if and $show (index $.Params $taxonomy) -}}
      {{- $terms := $.GetTerms $taxonomy -}}

      {{- if gt (len $terms) 0 -}}
        <span class="meta {{ $taxonomy }}">
          {{- partial "utils/icon.html" $taxonomy -}}

          {{- range $terms -}}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }} ({{ len .Pages }})</a>
          {{- end -}}
        </span>
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if site.Params.showWordCount -}}
    <span class="meta">
      {{- partial "utils/icon.html" "words" -}}
      {{ i18n "words" .WordCount | default (printf "%d words" .WordCount) }}
    </span>
  {{- end -}}

  {{- if site.Params.showReadingTime -}}
    <span class="meta">
      {{- partial "utils/icon.html" "time" -}}
      {{ i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) }}
    </span>
  {{- end -}}

  {{- if .IsTranslated -}}
    <span class="meta">
      {{- partial "utils/icon.html" "translations" -}}
      {{- range .Translations -}}
        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      {{- end -}}
    </span>
  {{- end -}}

</div>