<div class="metadata">

  {{- if not .Date.IsZero -}}
    <span class="meta">
      {{- with (partial "utils/icon.html" "date") -}}
        <span class="icon">{{ . }}</span>
      {{- end -}}
      <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}">{{ .Date | time.Format ":date_long" }}</time>
    </span>
  {{- end -}}

  {{- if and .Params.categories site.Params.showCategories -}}
    {{- $categories := site.Sites.Default.Taxonomies.categories -}}
    <span class="meta">
      {{- with (partial "utils/icon.html" "categories") -}}
        <span class="icon">{{ . }}</span>
      {{- end -}}
      {{- range .GetTerms "categories" -}}
        {{- $count := len ($categories.Get .Title) -}}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }} ({{ $count }})</a>
      {{- end -}}
    </span>
  {{- end -}}

  {{- if and .Params.tags site.Params.showTags -}}
    {{- $tags := site.Sites.Default.Taxonomies.tags -}}
    <span class="meta">
      {{- with (partial "utils/icon.html" "tags") -}}
        <span class="icon">{{ . }}</span>
      {{- end -}}
      {{- range .GetTerms "tags" -}}
        {{- $count := len ($tags.Get .Title) -}}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }} ({{ $count }})</a>
      {{- end -}}
    </span>
  {{- end -}}

  {{- if site.Params.showWordCount -}}
    <span class="meta">
      {{- with (partial "utils/icon.html" "words") -}}
        <span class="icon">{{ . }}</span>
      {{- end -}}
      {{ i18n "words" .WordCount | default (printf "%d words" .WordCount) }}
    </span>
  {{- end -}}

  {{- if site.Params.showReadingTime -}}
    <span class="meta">
      {{- with (partial "utils/icon.html" "time") -}}
        <span class="icon">{{ . }}</span>
      {{- end -}}
      {{ i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) }}
    </span>
  {{- end -}}

  {{- if and .Params.authors site.Params.showAuthors -}}
    {{- $authors := site.Sites.Default.Taxonomies.authors -}}
    <span class="meta">
      {{- with (partial "utils/icon.html" "authors") -}}
        <span class="icon">{{ . }}</span>
      {{- end -}}
      {{- range .GetTerms "authors" -}}
        {{- $count := len ($authors.Get .Title) -}}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }} ({{ $count }})</a>
      {{- end -}}
    </span>
  {{- end -}}

  {{- if .IsTranslated -}}
    <span class="meta">
      {{- with (partial "utils/icon.html" "translations") -}}
        <span class="icon">{{ . }}</span>
      {{- end -}}
      {{- range .Translations -}}
        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      {{- end -}}
    </span>
  {{- end -}}

</div>