{{- define "main" -}}

<header class="article-header">

  <h2 class="title">
    {{ .Title | .RenderString }}
    {{- if .Draft -}}
      <sup><span class="entry-isdraft">[{{- i18n "draft" | default "Draft" -}}]</span></sup>
    {{- end -}}
  </h2>

  {{- if .Description -}}
    <h3 class="description">
      {{ .Description | .RenderString }}
    </h3>
  {{- end -}}

  {{- with .Params.cards -}}
    {{- partial "hero_cards.html" . -}}
  {{- end -}}

  {{- partial "meta.html" . -}}

  {{- partial "article_cover.html" . -}}
</header>

{{/* Get Table Of Contents. */}}
{{- if .Params.ToC -}}
  {{ .TableOfContents }}
{{- end -}}

{{- partial "content.html" . -}}

{{- if (.Param "showPaginationLinks") -}}
  {{- partial "pagination_links.html" . -}}
{{- end -}}

{{- end -}}
{{/* End main. */}}