/* This CSS stylesheet defines the style of archive pages */


.archives {
    margin: auto;
    background: var(--bg-linear);
}

.archives header {
    height: 10rem;
    background: var(--entry);
}

.archives a {
    color: var(--secondary);
}

.archive-year {
    padding: var(--gap) var(--side);
    font-size: var(--l);
}

.archive-year:not(:last-of-type) {
    border-bottom: var(--border);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    font-size: var(--l);
}

.archive-month-header {
    margin: var(--gap) auto;
    width: calc(var(--width) * 0.25);
}

.archive-month:not(:last-of-type) {
    border-bottom: var(--border);
}

.archive-month-list {
    width: 100%;
    font-size: var(--m);
}

.archive-entry {
    margin: var(--gap) auto;
}

.archive-entry:hover .archive-entry-title {
    color: var(--link-hover-color);
}

.archive-entry h3 {
    margin: 1.25rem auto 0.5rem;
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: var(--s);
}
