/* This CSS stylesheet defines the style of the site footer */


.site-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: var(--gap);
    min-height: var(--footer-height);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) * 0.5) var(--gap);
    font-size: var(--s);
    text-align: center;
    color: var(--tertiary);
    background: var(--theme);
}

.site-footer span:last-child {
    white-space: nowrap;
}

.site-footer a {
    color: var(--link-color);
}

.site-footer a:hover {
    color: var(--link-hover-color);
}
