/* This CSS stylesheet defines the style of the site footer */


.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: var(--gap);
    min-height: var(--footer-height);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) * 0.5) var(--gap);
    font-size: var(--s);
    text-align: center;
    color: var(--tertiary);
    background: var(--theme);
}

.footer-row span:last-child {
    white-space: nowrap;
}

.footer-row a {
    color: var(--link-color);
}

.footer-row a:hover {
    color: var(--link-hover-color);
}

.footer-sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 0;
    padding-right: 2rem;
    text-align: left;
}

.footer-column h4 {
    color: var(--tertiary);
    margin-bottom: 0.5rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 0.3rem;
}

.footer-column a {
    color: var(--tertiary);
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: none;
}
