/* This CSS stylesheet defines the style of the gallery shortcode in the content of single pages */


.gallery {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-content: space-evenly;
    gap: calc((var(--width) * 0.05) - var(--gap));
    list-style-type: none;
}

.gallery li {
    margin: 0;
}

.gallery li img {
    margin: 0;
    width: calc(var(--width) * 0.2);
    height: calc(var(--width) * 0.2);
    border-radius: var(--radius);
}