/* This CSS stylesheet defines the style for different media devices to have a responsive and fluid layout */

/* For small-screen devices such as smartphones */
@media screen and (max-width: 750px) {

  /* For fluid typography and layout */
  html {
    font-size: clamp(0.9rem, 2vw + 0.5rem, 1.5rem);
  }


  /* Theme-vars */
  :root {
    --width: calc(100vw - (var(--gap) * 2));
    --side: var(--gap);
    --header-height: 4rem;
    --footer-height: 4rem;
    --radius: 0.5rem;
    --gap: 1rem;
    --article: var(--width);
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;
    --xxl: 2rem;
  }

  main {
    min-height: calc(var(--width) * 1.5);
  }

  .site-nav {
  }

  .menu {
    order: 3;
  }

  .language-dropdown {
    order: 2;
  }

  #menu-list:popover-open,
  #lang-list:popover-open {
    right: var(--gap);
    width: var(--width);
  }

  .theme-toggle {
    order: 1;
    margin: auto 0;
  }

  .menu-list .button {
    line-height: normal;
  }


  /* List and Single pages */
  main header {
    min-height: calc(100vh - var(--header-height));
  }

  .article-header {
    min-height: calc(var(--width) * 0.5);
  }

  .title,
  .description,
  .metadata {
    gap: calc(var(--gap) * 0.25);
  }

  .buttons,
  .metadata,
  .cards-column {
    flex-direction: column;
  }

  .cards-column {
    min-height: calc(var(--width) * 0.25);
  }

  main header .entry-cover img {
    height: calc(100vh - var(--header-height));
  }

  main header .article-cover img {
    width: 100%;
    height: auto;
    max-height: var(--width);
  }

  .content {
    max-width: var(--width);
  }

  .content img:not([popover] img, blockquote img) {
    max-height: calc(var(--width) * 1.25);
  }

  .content div[popover] {
    padding: 0;
  }

  .content [popover] img {
    max-height: 80vh;
    max-width: 100vw;
    border-radius: 0;
  }

  .content .close {
    width: 3rem;
    height: 3rem;
  }

  .box {
    padding: calc(var(--gap) * 2) 0;
  }

  .box-content {
    flex-direction: column;
  }

  .box img:not([popover] img, blockquote img) {
    max-height: calc(var(--width) * 0.75);
    max-width: var(--width);
  }

  .column-content:has(.column-inner [popovertarget]) {
    padding: 0;
  }

  .download-box {
    flex-direction: column;
  }

  .download-box .cards-column {
    width: var(--width);
  }

  .download-box [popovertarget] {
    padding: 0 calc((var(--width) * 0.35) - var(--gap));
  }

  .download-box svg {
    height: calc(var(--width) * 0.2);
  }

  .cards-box {
    grid-template-columns: 1fr;
  }

  .cards-box svg {
    height: calc(var(--width) * 0.2);
  }

  .chart {
    flex-direction: column;
    gap: var(--gap);
  }

  .donut,
  .donut-legend {
    align-self: auto;
  }

  .toot-card {
    margin: var(--gap) 0;
  }

  .footer-section {
    flex: 1 1 calc(var(--width)/3);
  }

  .footer-section:last-child {
    flex: 2 0 auto
  }

  .fedishare {
    padding: var(--gap) var(--side);
    gap: 0;
  }

  #shareForm {
    width: 100%;
    padding: var(--gap);
  }

  .calendar {
    height: calc(var(--width) * 1.8);
  }

  #donation-form {
    width: var(--width);
  }

  #donation-amount {
    grid-template-rows: calc(2fr + var(--gap)) 1fr;
  }

  #donation-amount .tiers {
    grid-template-columns: 1fr 1fr;
  }

  #custom-amount-box,
  #corporate-sponsor,
  #currency-toggle {
    grid-column: span 2;
  }

  #donation-payment {
    flex-direction: column;
  }

  /* Archive */
  .archive-month {
    flex-direction: column;
  }

  .archive-year {
    margin-top: var(--gap);
  }
}


@media screen and (max-width: 1249px) {

  /* NOTE: horizontal navigation menu is hidden on "small-screen" desktops and tablets, vertical popover menu is displayed instead */

  #menu-list:popover-open,
  #lang-list:popover-open {
    right: var(--side);
  }

  .menu-list {
    display: none;
  }

  .menu-list a {
    text-align: center;
    margin: 0.5rem;
    padding: 0;
    display: inline-block;
  }

  .menu-list .menu-active:not(.button) {
    margin: 0.5rem;
    padding: 0;
  }
}


/* For devices with medium and high screen resolutions such as desktops and laptops */
@media screen and (min-width: 1250px) {

  .menu-toggle {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  .terms a:active,
  .button:active,
  .share-links svg:active,
  article:active,
  #top-link {
    transform: none;
  }
}
