/* This CSS stylesheet defines the style for different media devices to have a responsive and fluid layout */

/* For small-screen devices such as smartphones */
@media screen and (max-width: 750px) {

  /* For fluid typography and layout */
  html {
    font-size: clamp(0.9rem, 2vw + 0.5rem, 1.5rem);
  }


  /* Theme-vars */
  :root {
    --width: calc(100vw - (var(--gap) * 2));
    --side: var(--gap);
    --header-height: 4rem;
    --footer-height: 4rem;
    --radius: 0.5rem;
    --gap: 1rem;
    --article: var(--width);
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;
    --xxl: 2rem;
  }

  main {
    min-height: calc(var(--width) * 1.5);
  }

  .site-nav {
  }

  .menu {
    order: 3;
  }

  .language-dropdown {
    order: 2;
  }

  #menu-list:popover-open,
  #lang-list:popover-open {
    right: var(--gap);
    width: var(--width);
  }

  .theme-toggle {
    order: 1;
    margin: auto 0;
  }

  .menu-list .button {
    line-height: normal;
  }


  /* List and Single pages */
  main header {
    min-height: calc(100vh - var(--header-height));
  }

  .title,
  .description,
  .single-meta {
    padding: 0;
  }

  .buttons,
  .single-meta,
  .cards-column {
    flex-direction: column;
  }

  .cards-column {
    min-height: calc(var(--width) * 0.25);
  }

  main header .entry-cover img {
    height: calc(100vh - var(--header-height));
  }

  .content img:not([popover] img, blockquote img) {
    max-height: var(--width);
    width: 100%;
  }

  .content div[popover] {
    padding: 0;
  }

  .content [popover] img {
    max-height: 50vh;
    max-width: 100vw;
    border-radius: 0;
  }

  .content .close {
    width: 3rem;
    height: 3rem;
  }

  .block {
    padding: calc(var(--gap) * 2) var(--gap);
    flex-wrap: nowrap;
    max-height: calc(var(--width) * 2);
  }

  .block h2,
  .block p,
  .block a:not(:has(svg)) {
    max-height: var(--width);
    width: var(--width);
  }

  .block img:not([popover] img, blockquote img) {
    max-height: calc(var(--width) * 0.5);
    width: var(--width);
  }

  .block button {
    order: -1;
  }

  .download-box {
    flex-direction: column;
  }

  .download-box .cards-column {
    width: var(--width);
  }

  .download-box [popovertarget] {
    padding: 0 calc((var(--width) * 0.35) - var(--gap));
  }

  .download-box svg {
    height: calc(var(--width) * 0.2);
  }

  .cards-box {
    grid-template-columns: 1fr;
  }

  .cards-box svg {
    height: calc(var(--width) * 0.2);
  }

  .chart {
    flex-direction: column;
    gap: var(--gap);
  }

  .donut,
  .donut-legend {
    align-self: auto;
  }

  .footer-row,
  .footer-column h4 {
    font-size: var(--s);
  }

  .footer-column {
    flex: 1 1 calc(var(--width)/3);
  }
  .footer-column:last-child {
    flex: auto;
  }


  /* Archive */
  .archive-month {
    flex-direction: column;
  }

  .archive-year {
    margin-top: var(--gap);
  }
}


@media screen and (max-width: 1249px) {

  /* NOTE: horizontal navigation menu is hidden on "small-screen" desktops and tablets, vertical popover menu is displayed instead */

  #menu-list:popover-open,
  #lang-list:popover-open {
    right: var(--side);
  }

  .menu-list {
    display: none;
  }

  .menu-list a {
    text-align: center;
    margin: 0.5rem;
    padding: 0;
    display: inline-block;
  }

  .menu-list .menu-active:not(.button) {
    margin: 0.5rem;
    padding: 0;
    color: var(--primary);
    font-weight: 700;
    box-shadow: 0 var(--line)0 var(--primary);
  }

  .menu-list .menu-active:hover {
    color: var(--link-hover-color);
    box-shadow: var(--link-hover-underline-shadow);
  }
}


/* For devices with medium and high screen resolutions such as desktops and laptops */
@media screen and (min-width: 1250px) {

  .menu-toggle {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  .terms a:active,
  .button:active,
  .share-links svg:active,
  article:active,
  #top-link {
    transform: none;
  }
}
