/* This CSS stylesheet defines the style of terms (tag items) */

.terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: var(--gap) var(--side);
    gap: var(--gap);
}

.terms li {
    display: inline-block;
}

.terms a {
    display: block;
    padding: 0.5rem var(--gap);
    color: var(--cover);
    background: var(--link-color);
    border-radius: var(--radius);
    transition: var(--link-transition);
}

.terms a:hover {
    background: var(--link-hover-color);
}

.terms a:active {
    background: black;
    transform: scale(0.9);
}
