/* This CSS stylesheet defines the general variables (e.g. dimensions, colors, font) for both Light and Dark chroma. For the text in code blocks, go to highlight.css */


:root {
    --width: clamp(56rem, 20rem + 50vw, 100rem);
    --side: calc((100vw - var(--width)) * 0.5);
    --header-height: 4rem;
    --footer-height: 4rem;
    --radius: 0.5rem;
    --gap: 1rem;
    --line: 0.125rem;
    --padding: 0.75rem 1.5rem;
    --article: clamp(16rem, 4rem + 17.5vw, 32rem);
    --monospace: "Lucida Console", Monaco, "Consolas", monospace;

    --cover: rgb(255, 255, 255);
    --theme: rgb(240, 240, 240);
    --entry: rgb(224, 224, 224);
    --tone: rgb(128, 128, 128);
    --primary: rgb(32, 32, 32);
    --secondary: rgb(64, 64, 64);
    --tertiary: rgb(96, 96, 96);
    --backdrop: rgba(255, 255, 255, 0.8);

    --link-color: rgb(65, 143, 222);
    --link-hover-color: rgb(102, 177, 255);
    --link-underline-shadow: 0 var(--line) 0 var(--link-color);
    --link-hover-underline-shadow: 0 var(--line) 0 var(--link-hover-color);
    --link-transition: all 0.3s ease-in-out;

    --border: var(--line) solid var(--tone);
    --border-hover: var(--line) solid var(--link-hover-color);

    --shadow: 0 0 4rem black;

/* Variables for text sizes: small (terms, footnotes), medium (normal text), large (h3), extra large (h2), extra extra large (h1) */
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.5rem;
    --xl: 2rem;
    --xxl: 3rem;

/* Variables for backgrounds */
    --bg-linear: linear-gradient(var(--entry), var(--theme));
    --bg-grid-s: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 8px),
                 repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 8px);
    --bg-grid-m: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 16px),
                 repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 16px);

}


/* If changing Dark chroma values, do not forget to update them in layouts/partials/head.html as well */

.dark {
    --theme: rgb(32, 32, 32);
    --entry: rgb(64, 64, 64);
    --primary: rgb(240, 240, 240);
    --secondary: rgb(224, 224, 224);
    --tertiary: rgb(208, 208, 208);
    --backdrop: rgba(0, 0, 0, 0.8);

    /* Variables for backgrounds */
    --bg-linear: linear-gradient(var(--entry), var(--theme));
    --bg-grid-s: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 8px),
                 repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 8px);
    --bg-grid-m: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 16px),
    repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 16px);
}