{{- $classes := slice
  (cond (eq .BundleType "branch") "list"
    (cond (eq .BundleType "leaf") "single" "unknown-BundleType"))
  (cond (eq site.Params.defaultTheme "dark") "dark" "")
  (printf "type-%s" .Type)
  (printf "kind-%s" .Kind)
  (printf "layout-%s" .Layout)
| uniq -}}

<!DOCTYPE html>
<html lang="{{ .Params.language | default .Language.Lang | safeHTMLAttr }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
  <head>
    {{- partial "head.html" . -}}
    {{- block "head" . -}}
    {{- end -}}
  </head>
  <body class="{{ delimit $classes " " }}" id="top">
    {{- partial "theme_toggle.html" . -}}
    {{- partial "header.html" . -}}
    <main class="{{ .Kind }}" role="main">
      {{- block "main" . -}}
      {{- end -}}
    </main>
    {{- partial "footer.html" . -}}
    {{- block "body_end" . -}}
    {{- end -}}
  </body>
</html>
