{{- /* Homepage:

  - Set header with latest hero article.
  - List selection of latest News articles.
  - Get Content from Homepage Section.
*/ -}}

{{- define "main" -}}

{{- partial "headers/hero.html" . -}}

{{- /* Get latest News articles by category, excluding those with "hero" param. */ -}}
{{- $pages := slice -}}
{{- with site.Sites.Default -}}
  {{- range .Taxonomies.categories.ByCount -}}
    {{- $categoryPages := where .Pages "Params.hero" "ne" true | first 1 -}}
    {{- $pages = $pages | append $categoryPages -}}
  {{- end -}}
{{- end -}}
{{- $pages = first (.Params.paginate | default 6) $pages -}}

<section class="articles">
  {{- range $index, $page := $pages -}}
    {{- partial "article_card.html" . -}}
  {{- end -}}
</section>

{{- /* Get Homepage content. */ -}}
{{- with (index (where (.RegularPages | lang.Merge site.Sites.Default.RegularPages) "Type" "homepage") 0) -}}
  {{- partial "content/content.html" . -}}
{{- end -}}

{{- end -}}
{{- /* End main. */ -}}
