{{- define "main" -}}

<header>
  {{- if (eq .Section "news") -}}
    {{- partial "categories_list.html" . -}}
  {{- end -}}

  <h1 class="title">
    {{ .Title | .RenderString }}
  </h1>

  {{- if .Description -}}
    <h3 class="description">
      {{ .Description | .RenderString }}
    </h3>
  {{- end -}}

  {{- with .Params.cards -}}
    {{- partial "hero_cards.html" . -}}
  {{- end -}}

  {{- partial "hero_cover.html" . -}}
</header>

{{- partial "content.html" . -}}

{{/* Get latest current sub-Sections or RegularPages, and fill in missing translated pages from default language Site. */}}
{{- $default := site.Sites.Default.GetPage .Path -}}
{{- $pages := slice -}}

{{- range .Sections -}}
  {{- $pages = $pages | append . -}}
{{- end -}}

{{- range $default.Sections -}}
  {{- if not (site.GetPage .Path) -}}
    {{- $pages = $pages | append . -}}
  {{- end -}}
{{- end -}}

{{- if or (not $pages) (not (and .IsSection .Parent.IsHome)) -}}
  {{- $pages = .RegularPages | lang.Merge $default.RegularPages -}}
{{- end -}}

{{- partial "list_paginator.html" (dict "pages" $pages "context" .) -}}

{{- end -}}
{{/* End main. */}}
