{{- /* List:

  - Set header with custom headers if available.
  - Set content with custom content if available.
  - List RegularPages or sub-Sections for current Section.
*/ -}}

{{- define "main" -}}

<header>

  {{- if eq .Section "news" -}}
    {{- partial "categories.html" . -}}
  {{- end -}}

  <h1 class="title">
    {{ .Title | .RenderString }}
    {{- if .Draft -}}
      <sup><span class="entry-isdraft">[{{- i18n "draft" | default "Draft" -}}]</span></sup>
    {{- end -}}
  </h1>

  {{- with .Description -}}
    <h3 class="description">{{ . | $.RenderString }}</h3>
  {{- end -}}

  {{/* Dynamically include header partial based on Type */}}
  {{- $partialPath := printf "headers/%s.html" .Type -}}
  {{- if templates.Exists ( printf "_partials/%s" $partialPath ) -}}
    {{- partial $partialPath . -}}
  {{- end -}}

  {{- with .Params.cards -}}
    {{- partial "hero_cards.html" . -}}
  {{- end -}}

  {{- partial "hero_cover.html" . -}}

</header>

{{- /* Get Table Of Contents. */ -}}
{{- if .Params.ToC -}}
  {{ .TableOfContents }}
{{- end -}}

{{- /* For Donate, get Funded Grants and Sponsors lists. */ -}}
{{- if eq .Type "donate" -}}
  {{- partial "content/grants.html" . -}}
  {{- partial "content/sponsors.html" . -}}
{{- end -}}

{{- partial "content/content.html" . -}}

{{/* Dynamically include content partial based on Type */}}
{{- $partialPath := printf "content/%s.html" .Type -}}
{{- if templates.Exists ( printf "_partials/%s" $partialPath ) -}}
  {{- partial $partialPath . -}}
{{- end -}}

{{- /* Get latest current sub-Sections or RegularPages, and fill in missing translated pages from default language Site. */ -}}
{{- $default := site.Sites.Default.GetPage .Path -}}
{{- $pages := slice -}}

{{- range .Sections -}}
  {{- $pages = $pages | append . -}}
{{- end -}}

{{- range $default.Sections -}}
  {{- if not (site.GetPage .Path) -}}
    {{- $pages = $pages | append . -}}
  {{- end -}}
{{- end -}}

{{- if or (not $pages) (not (and .IsSection .Parent.IsHome)) -}}
  {{- $pages = .RegularPages | lang.Merge $default.RegularPages -}}
{{- end -}}

{{- /* For Community, get 3 latest Event articles. */ -}}
{{- if eq .Type "community" -}}
  {{- $news := where .RegularPages "Section" "news" | lang.Merge (where site.Sites.Default.RegularPages "Section" "news") -}}
  {{- $events := where $news "Params.categories" "eq" "event" -}}
  {{- $pages = first 3 (sort $events "Date" "desc") -}}
{{- end -}}

{{- partial "paginator.html" (dict "pages" $pages "context" .) -}}

{{- end -}}
{{- /* End main. */ -}}
