{{- /* Single:

  - Set header with metadata.
  - Set Content and Pagination.
*/ -}}

{{- define "main" -}}

<header class="article-header">

  <h2 class="title">
    {{ .Title | .RenderString }}
    {{- if .Draft -}}
      <sup><span class="entry-isdraft">[{{- i18n "draft" | default "Draft" -}}]</span></sup>
    {{- end -}}
  </h2>

  {{- with .Description -}}
    <h3 class="description">{{ . | $.RenderString }}</h3>
  {{- end -}}

  {{- with .Params.cards -}}
    {{- partial "hero_cards.html" . -}}
  {{- end -}}

  {{- partial "meta.html" . -}}

  {{- partial "article_cover.html" . -}}

</header>

{{- /* Get Table Of Contents. */ -}}
{{- if .Params.ToC -}}
  {{ .TableOfContents }}
{{- end -}}

{{- partial "content/content.html" . -}}

{{- /* For Releases, get Download release form. */ -}}
{{- if eq .Type "releases" -}}
  <section class="download-release">
    {{- partial "headers/download.html" . -}}
  </section>
{{- end -}}

{{- if .Param "showPagination" -}}
  {{- partial "pagination.html" . -}}
{{- end -}}

{{- end -}}
{{- /* End main. */ -}}