{{- /* Taxonomy:

  - Set header with list of Terms for current Taxonomy.
*/ -}}

{{- define "main" -}}

{{- $description := .Description | .RenderString -}}
{{- $type := .Type -}}
{{- $terms := .Data.Terms.Alphabetical -}}

<header>

  <h1 class="title">{{ .Title | .RenderString }}</h1>

  {{- with .Description -}}
    <h3 class="description">{{ . | $.RenderString }}</h3>
  {{- end -}}

  {{- with $terms -}}
    <ul class="terms">
      {{- range . -}}
        {{- $name := .Name -}}
        {{- $count := .Count -}}
        {{- with site.GetPage (printf "/%s/%s" $type $name) -}}
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }} ({{ $count }})
          </a>
        {{- end -}}
      {{- end -}}
    </ul>

  {{- else -}}
    {{- i18n "noterms" | default (printf "No %s found." $type) -}}
  {{- end -}}

  {{- with site.GetPage "news" -}}
    {{- partial "hero_cover.html" . -}}
  {{- end -}}

</header>

{{- end -}}
{{- /* End main. */ -}}