<article>
  {{- partial "category.html" . -}}
  <a href="{{ .Permalink }}"
  alt="ARTICLE"
  aria-label="{{ .Title | plainify }}"
  title="{{ .Title | plainify }}">
    {{- partial "article_cover.html" . -}}
    {{- if not .Date.IsZero -}}
      <span class="entry-date">
        <time datetime="{{ .Date }}">
          {{ .Date | time.Format ":date_long" }}
        </time>
      </span>
    {{- end -}}
    <h3 class="entry-title">
      <span>
        {{ .Title | .RenderString }}
      </span>
      {{- if .Draft }}
        <sup>
          <span class="entry-isdraft">
            [{{- i18n "draft" | default "Draft" -}}]
          </span>
        </sup>
      {{- end -}}
    </h3>
    {{- if (ne (.Param "hideSummary") true) -}}
      <p class="entry-description">
        {{- if .Description -}}
          {{ .Description | .RenderString }}
        {{- end -}}
      </p>
    {{- end -}}
  </a>
</article>