{{/* Debug Info:
  - Details box at the top of each page.
  - Prints useful info for current page, parent and children. */}}

<details class="debug">
  <summary><h3>DEBUG INFOS</h3></summary>

  {{- $debug := slice
    (slice "Kind"           .Kind)
    (slice "Type"           .Type)
    (slice "Section"        .Section)
    (slice "CurrentSection" .CurrentSection.Path)
    (slice "Parent"         .Parent)
    (slice "BundleType"     .BundleType)
    (slice "Layout"         .Layout)
    (slice "Path"           .Path)
    (slice "RelPermalink"   .RelPermalink)
    (slice "Slug"           .Slug)
    (slice "Lang"           .Language.Lang)
  -}}

  {{- range $debug -}}
    <p class="{{ if index . 1 }}ok{{ else }}fail{{ end }}">
      {{ index . 0 }}: <b>{{ with index . 1 }}{{ . }}{{ else }}<i>nil</i>{{ end }}</b>
    </p>
  {{- end -}}

  <hr>

  <p class="{{ if or .IsHome .Parent.IsHome }}ok{{ else }}fail{{ end }}">
    Is Top-Level: <b>{{ if or .IsHome .Parent.IsHome }}true{{ else }}false{{ end }}</b>
  </p>

  {{- $defaultPage := site.Sites.Default.GetPage .Path -}}

  {{- $counts := slice
    (slice "SubSections Count"                         (len .Sections))
    (slice "Default Language SubSections Count"        (len $defaultPage.Sections))
    (slice "RegularPages Count"                        (len .RegularPages))
    (slice "Default Language RegularPages Count"       (len $defaultPage.RegularPages))
  -}}

  {{- range $counts -}}
    <p class="{{ if gt (index . 1) 0 }}ok{{ else }}fail{{ end }}">
      {{ index . 0 }}: <b>{{ if gt (index . 1) 0 }}{{ index . 1 }}{{ else }}<i>0</i>{{ end }}</b>
    </p>
  {{- end -}}

<style>
.debug {
  text-align: center;
  width: var(--width);
  margin: auto;
  border: 2px solid crimson;
  line-height: 1rem;
}

.debug summary {
  list-style: none;
}

.debug h3,
.debug p.fail {
  color: crimson;
}

.debug p.ok {
  color: green;
}
</style>

</details>