{{- with .Params.docs -}}
  <div class="docs-box">
    {{- range $key, $value := . -}}
      <div class="docs-column" style="order: {{- $value.weight -}}">
        <a {{ printf "href=%q class=%q alt=%q title=%q" $value.link $key $key $value.text | safeHTMLAttr }}>
          {{- with (index site.Data.svg (printf "%s" $key)) -}}
            <button>
              {{- safeHTML . -}}
            </button>
          {{- end -}}
          <h3>{{- $value.text -}}</h3>
        </a>
        <p>{{- $value.description -}}</p>
      </div>
    {{- end -}}
  </div>
{{- end -}}