{{/* Footer Partial, used by 'baseof.html'
  - Render footer menu with section links
  - Add active class and handle external links
*/}}

{{- $currentPage := . -}}
{{- $menuFooter := site.Menus.footer | default site.Sites.Default.Menus.footer -}}
{{- $pageUrl := $currentPage.RelPermalink -}}
{{- $linksMax := site.Params.footerSectionLinksMax | default 6 -}}
{{- $customLinks := site.Data.footer | default slice -}}
{{- $icon := site.Data.svg.external | safeHTML -}}

<footer>
  <div class="footer-row">
    {{- range $menuFooter }}
      {{- $isActive := or (strings.HasPrefix $pageUrl .URL) (and $currentPage.IsHome (in .URL "homepage")) -}}
      {{- $isExternal := and (strings.HasPrefix $pageUrl "http") (not (strings.HasPrefix $pageUrl site.BaseURL)) -}}
      {{- $sectionKey := path.Base .Page.File.Dir -}}
      {{- $classes := slice -}}
      {{- with .Params.style -}}
        {{ $classes = $classes | append . }}
      {{- end -}}
      {{- if $isActive -}}
        {{ $classes = $classes | append "menu-active" }}
      {{- end -}}

      {{/* Section */}}
      <div class="footer-column">
        <h4>
          <a href="{{- if in .URL "homepage" -}}{{ "" | relLangURL }}{{- else -}}{{ .URL }}{{- end -}}"
            title="{{ .Title | default .Name | plainify }}"
            class="{{ delimit $classes " " }}"
            {{- if $isActive -}}
              aria-current="page"
            {{- end -}}
            {{- if $isExternal -}}
              target="_blank"
            {{- end -}}>
            {{ .Title | $.Page.RenderString }}
            {{- if $isExternal -}}
              <span class="external">
                {{ $icon }}
              </span>
            {{- end -}}
          </a>
        </h4>

        {{/* Children in section */}}
        <ul>
        {{- with .Page.CurrentSection -}}
          {{- if not .IsHome -}}
            {{- range first $linksMax .RegularPages -}}
              {{- $active := eq .RelPermalink $currentPage.RelPermalink -}}
              <li>
                <a href="{{ .RelPermalink }}"
                  title="{{ .Title | default .Name | plainify }}"
                  class="{{ if $active }}menu-active{{ end }}">
                  {{ .Title | $.Page.RenderString }}
                </a>
              </li>
            {{- end -}}
          {{- end -}}
        {{- end -}}

        {{/* Custom children in section from data/footer.yaml */}}
        {{- range $customLinks -}}
          {{- if eq .parent $sectionKey -}}
            {{- $isExternal := and (strings.HasPrefix .url "http") (not (strings.HasPrefix .url site.BaseURL)) -}}
            {{- $active := eq (urls.Parse .url).Path $currentPage.RelPermalink -}}
            <li>
              <a href="{{ cond $isExternal .url (.url | relURL) }}"
                title="{{ .Title | plainify }}"
                class="{{ if $active }}menu-active{{ end }}"
                {{- if $isExternal -}}
                  target="_blank" rel="external noreferrer"
                {{- end -}}>
                {{ .title }}
                {{- if $isExternal -}}
                  <span class="external">
                    {{ $icon }}
                  </span>
                {{- end -}}
              </a>
            </li>
          {{- end -}}
        {{- end -}}
        </ul>
      </div>
    {{- end -}}
  </div>

  {{/* Custom links from data/footer.yaml */}}
  <div class="footer-row">
    {{- range $customLinks -}}
      {{- if not .parent -}}
        {{- $isExternal := and (strings.HasPrefix .url "http") (not (strings.HasPrefix .url site.BaseURL)) -}}
        {{- $classes := slice -}}
        {{- with .style -}}
          {{ $classes = $classes | append . }}
        {{- end -}}
        <div class="footer-colum">
          <h4>
            <a
              href="{{ .url }}"
              title="{{ .Title | plainify }}"
              class="{{ delimit $classes " " }}"
              {{- if $isExternal -}}
                target="_blank" rel="external noreferrer"
              {{- end -}}>
              {{ .title }}
              {{- if $isExternal -}}
                <span class="external">
                  {{ $icon }}
                </span>
              {{- end -}}
            </a>
          </h4>
        </div>
      {{- end -}}
    {{- end -}}
  </div>

  {{- if not hugo.IsProduction -}}
    {{- partial "icons" . -}}
  {{- end -}}

  <div class="footer-row">
    {{- if site.Copyright -}}
      <span>
        {{ site.Copyright | .RenderString }}
      </span>
    {{- else -}}
      <span>
        &copy; {{ now.Year }} <a href="{{ "" | relLangURL }}">
          {{ site.Title | .RenderString }}
        </a>
      </span>
    {{- end -}}
    <span>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">
        CC BY-SA
      </a>
    </span>
    <span>
      Made with ♥︎ thanks to <a href="https://gohugo.io/" rel="external noreferrer noreferrer" target="_blank">
        Hugo
      </a>
    </span>
  </div>
</footer>


{{/* theme toggle */}}
{{- if (not site.Params.disableThemeToggle) }}
  <script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
      if (document.body.className.includes("dark")) {
        document.body.classList.remove('dark');
        localStorage.setItem("pref-theme", 'light');
      } else {
        document.body.classList.add('dark');
        localStorage.setItem("pref-theme", 'dark');
      }
    })
  </script>
{{- end }}

{{- /* Script to detect User Agent and provide corresponding download options. */}}
{{- if or (eq .Type "download") (eq .Type "releases") -}}
  {{- if (.Param "EnableUA") -}}
    {{- $downloadUA := resources.Get "js/DownloadUACheck.js" -}}
    {{- if hugo.IsProduction -}}
      {{- $downloadUA = minify $downloadUA -}}
    {{- end -}}
    <script type="text/javascript" src="{{ $downloadUA.RelPermalink }}">
    </script>
  {{- end -}}
{{- end -}}

{{- if .IsPage -}}

  {{- /* Copy Code script */}}
  {{- if (and (eq .Kind "page") (ne .Layout "archives") (.Param "ShowCopyCodeButton")) -}}
    <script>
    document.querySelectorAll('pre > code').forEach((codeblock) => {
      const container = codeblock.parentNode.parentNode;

      const copybutton = document.createElement('button');
      copybutton.classList.add('copy-code');
      copybutton.innerText = '{{- i18n "code_copy" | default "copy" -}}';

      function copyingDone() {
        copybutton.innerText = '{{- i18n "code_copied" | default "copied!" -}}';
        setTimeout(() => {
          copybutton.innerText = '{{- i18n "code_copy" | default "copy" -}}';
        }, 2000);
      }

      copybutton.addEventListener('click', (cb) => {
        if ('clipboard' in navigator) {
          navigator.clipboard.writeText(codeblock.textContent);
          copyingDone();
          return;
        }

        const range = document.createRange();
        range.selectNodeContents(codeblock);
        const selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        try {
          document.execCommand('copy');
          copyingDone();
        } catch (e) { };
        selection.removeRange(range);
      });

      if (container.classList.contains("highlight")) {
        container.appendChild(copybutton);
      } else if (container.parentNode.firstChild == container) {
        // td containing LineNos
      } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
        // table containing LineNos and code
        codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.appendChild(copybutton);
      } else {
        // code blocks not having highlight as parent class
        codeblock.parentNode.appendChild(copybutton);
      }
    });
    </script>
  {{- end -}}

{{- end -}}

{{- /* InstantClick.js */}}
<script>
  (function () {
    const enableInstantClick = '{{- if (.Param "EnableInstantClick") -}}1{{- end -}}' == '1';
    // instant click and smooth scroll are mutually exclusive
    if (window.matchMedia('(prefers-reduced-motion: reduce)').matches || disableSmoothScroll || enableInstantClick) {
      return;
    }
    // only run this code if smooth scroll should be enabled
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();
        var id = this.getAttribute("href").substr(1);
        document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView({
          behavior: "smooth"
        });
        if (id === "top") {
          history.replaceState(null, null, " ");
        } else {
          history.pushState(null, null, `#${id}`);
        }
      });
    });
  })();
</script>

{{- if (.Param "EnableInstantClick") -}}
  {{- $instantClick := resources.Get "js/InstantClick.js" -}}
  {{- if hugo.IsProduction -}}
    {{- $instantClick = minify $instantClick -}}
  {{- end -}}
  <script defer type="text/javascript" src="{{ $instantClick.RelPermalink }}" data-no-instant
    {{- if site.Params.assets.disableFingerprinting -}}
      integrity="{{ $instantClick.Data.Integrity }}"
    {{- end -}}>
  </script>

  <script data-no-instant>
    // http://instantclick.io/scripts
    // InstantClick.on('change', function(isInitialLoad) {
    //   if (isInitialLoad) {
    //     return;
    //   }
    // });
    InstantClick.init();
  </script>
{{- end -}}