{{- $icons := dict -}}
{{- $iconsNames := slice "date" "categories" "tags" "words-count" "reading-time" "author" "translations" -}}
{{- range $iconsNames -}}
  {{- $name := . -}}
  {{- with printf "svg/%s.svg" $name | resources.Get | resources.Minify -}}
    {{- $svg := .Content | safeHTML -}}
    {{- $icons = merge $icons (dict $name $svg) -}}
  {{- end -}}
{{- end -}}

{{- if not .Date.IsZero -}}
  <span class="meta">
    {{- index $icons "date" -}}
    <time datetime="{{ .Date }}">
      {{ .Date | time.Format ":date_long" }}
    </time>
  </span>
{{- end -}}

{{- if .Page.Store.Get "archives" -}}
  {{- if .Params.categories -}}
    <span class="meta">
      {{- index $icons "categories" -}}
      <span class="categories">
        {{- range (.GetTerms "categories") -}}
          <a href="{{ .Permalink }}">
            {{ .LinkTitle }}
          </a>
        {{- end -}}
      </span>
    </span>
  {{- end -}}
{{- end -}}

{{- if .Params.tags -}}
  <span class="meta">
    {{- index $icons "tags" -}}
    <span class="tags">
      {{- range (.GetTerms "tags") -}}
        <a href="{{ .Permalink }}">
          {{ .LinkTitle }}
        </a>
      {{- end -}}
    </span>
  </span>
{{- end -}}

{{- if (.Param "showWordCount") -}}
  <span class="meta">
    {{- index $icons "words-count" -}}
    <span>
      {{- i18n "words" .WordCount | default (printf "%d words" .WordCount) -}}
    </span>
  </span>
{{- end -}}

{{- if (.Param "showReadingTime") -}}
  <span class="meta">
    {{- index $icons "reading-time" -}}
    <span>
      {{- i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) -}}
    </span>
  </span>
{{- end -}}

{{- if (.Param "showAuthor") -}}
  <span class="meta">
    {{- index $icons "author" -}}
    <span>
      {{- partial "author.html" . -}}
    </span>
  </span>
{{- end -}}

{{- if .IsTranslated -}}
  <span class="meta">
    {{- index $icons "translations" -}}
    <span class="i18n-links">
      {{- range $i, $e := .Translations -}}
        {{- if $i -}}
          |
        {{- end -}}
        {{- with $e -}}
          <a href="{{ .Permalink }}">
            {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) -}}
              {{ .Language.LanguageName | emojify }}
            {{- else -}}
              {{ .Lang | title }}
            {{- end -}}
          </a>
        {{- end -}}
      {{- end -}}
    </span>
  </span>
{{- end -}}
