{{/* Get pages from current Section. */}}

{{- $sections := site.Params.mainSections -}}
{{- if .Section -}}
  {{- $sections = slice .Section -}}
{{- end -}}
{{- $pages := where site.RegularPages "Section" "in" $sections -}}

{{- if and (gt (len $pages) 1) (in $pages . ) -}}
  <nav class="pagination">
    {{- with .PrevInSection -}}
      <a class="prev"
        href="{{ .RelPermalink -}}#top"
        alt="PREVIOUS ARTICLE"
        title="{{ i18n "previous_article" | default "Previous article" }}">
        ◀ {{ .LinkTitle | .RenderString }}
      </a>
    {{- end -}}
    {{- with .NextInSection -}}
      <a class="next"
        href="{{ .RelPermalink -}}#top"
        alt="NEXT ARTICLE"
        title="{{ i18n "next_article" | default "Next article" }}">
        {{ .LinkTitle | .RenderString }} ▶
      </a>
    {{- end -}}
  </nav>
{{- end -}}
