{{- $params := .Params -}}
{{- $platforms := slice -}}
{{- $downloadPage := site.GetPage "download" | default (site.Sites.Default.GetPage "download") -}}
{{- with $downloadPage.Params.platforms -}}
  {{- $platforms = . -}}
{{- end -}}

<div class="download-box">
  {{- range $platform := $platforms -}}
    <div class="cards-column" id="{{ $platform.id }}" style="order: {{ $platform.order }};">
      {{- range $download := $platform.downloads -}}
        {{- with index $params (printf "%s_%s" $platform.id $download.key) -}}
          <a class="arch-icon"
            href="{{ . }}"
            data-url="{{ . }}"
            alt="{{ $download.alt }}"
            aria-label="{{ $download.label }}"
            title="{{ $download.label }}"
            target="_blank"
            rel="noopener noreferrer"
            >
            <span>
              {{ $platform.label }}
            </span>
            <br>
            {{- with printf "svg/%s.svg" $download.key | resources.Get | resources.Minify -}}
              {{ .Content | safeHTML }}
            {{- end -}}
          </a>
        {{- end -}}
      {{- end -}}

      <button type="button"
        popovertarget="{{ $platform.id }}-arch"
        title="{{ $platform.label }}">
        {{- with printf "svg/%s.svg" $platform.id | resources.Get | resources.Minify -}}
          {{ .Content | safeHTML }}
        {{- end -}}
        <br>
        <span>
          {{ $platform.label }}
        </span>
      </button>
      <span popover id="{{ $platform.id }}-arch"></span>
    </div>
  {{- end -}}
  </div>

{{- $thanks := site.GetPage "thanks" | default (site.Sites.Default.GetPage "thanks") -}}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.arch-icon').forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();

        const fileUrl = link.dataset.url || link.href;
        window.open(fileUrl, '_blank');

        const thanksUrl = "{{ $thanks.RelPermalink }}";
        setTimeout(function() {
          window.location.href = thanksUrl;
        }, 1000);
      });
    });
  });
</script>