{{- /* Styles */ -}}
{{- $styles := slice -}}
{{- range site.Params.assets.stylesheets }}
  {{- $styles = $styles | append (resources.Get .) -}}
{{- end -}}
{{- $stylesheet := $styles | resources.Concat "assets/css/stylesheet.css" | minify -}}

{{- if not site.Params.assets.disableFingerprinting -}}
  {{- $stylesheet := $stylesheet | fingerprint -}}
  <link href="{{ $stylesheet.RelPermalink }}" rel="stylesheet" integrity="{{ $stylesheet.Data.Integrity }}" crossorigin="anonymous">
{{- else -}}
  <link href="{{ $stylesheet.RelPermalink }}" rel="stylesheet">
{{- end -}}
