{{/* Theme Toggle Script, sets theme based on:
     - User preference in localStorage (pref-theme)
     - Default theme defined in config (light, dark, auto)
     - System theme preference (prefers-color-scheme) */}}

{{- $disableToggle := site.Params.disableThemeToggle | default false -}}
{{- $defaultTheme := site.Params.defaultTheme | default "auto" -}}

{{/* Theme-toggle is enabled */}}
{{- if not $disableToggle -}}
  {{- if eq $defaultTheme "light" -}}
    <script>
      if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
      }
    </script>
  {{- else if eq $defaultTheme "dark" -}}
    <script>
      if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
      }
    </script>
  {{- else -}}
    {{/* Theme is auto */}}
    <script>
      if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
      } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
      } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
      }
    </script>
  {{- end -}}
{{/* Theme-toggle is disabled and Theme is auto */}}
{{- else if and (ne $defaultTheme "light") (ne $defaultTheme "dark") -}}
  <script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.body.classList.add('dark');
    }
  </script>
{{- end -}}

{{/* Fallback for user without JS. */}}
<noscript>
  <style>
    #theme-toggle {
      display: none;
    }
  </style>
  {{- if (and (ne site.Params.defaultTheme "light") (ne site.Params.defaultTheme "dark")) -}}
    <style>
      @media (prefers-color-scheme: dark) {
        :root {
          --theme: rgb(32, 32, 32);
          --entry: rgb(64, 64, 64);
          --primary: rgb(240, 240, 240);
          --secondary: rgb(224, 224, 224);
          --tertiary: rgb(208, 208, 208);
          --link-color: rgb(65, 143, 222);
        }

        main {
          background: var(--theme);
        }
      }
    </style>
  {{- end -}}
</noscript>