{{- define "main" -}}

<header>
  <h1 class="title">
    {{ .Title | .RenderString }}
  </h1>

  {{- if .Description -}}
    <h3 class="description">
      {{ .Description | .RenderString }}
    </h3>
  {{- end -}}

  {{- with .Params.cards -}}
    {{- partial "hero_cards.html" . -}}
  {{- end -}}

  {{- partial "hero_cover.html" . -}}
</header>

{{/* Get Table Of Contents. */}}
{{- if .Params.ToC -}}
  {{ .TableOfContents }}
{{- end -}}

{{/* Get Addons catalog. */}}
{{- partial "addons_catalog.html" . -}}

{{/* Get page content. */}}
{{- partial "content.html" . -}}

{{- end -}}
{{/* End main. */}}