{{/*
  Custom rendering for markdown content links.
  - External links open in new tab and icon next to it.
  - Icon next to external links.
*/}}

{{- $href := .Destination | safeURL -}}
{{- $external := strings.HasPrefix .Destination "http" -}}
{{- $title := .Title | plainify -}}
{{- $fallback := i18n "link" | default "Open link" -}}
{{- $text := .Text | safeHTML -}}
{{- $icon := site.Data.svg.external | safeHTML -}}

<a href="{{ $href }}"
  {{- if $title -}}
    title="{{ $title }}"
  {{- else -}}
    title="{{ $fallback }}"
  {{- end -}}
  {{- if $external -}}
    target="_blank" rel="noopener"
  {{- end -}}>
  {{ $text }}
  {{- if $external -}}
    <span class="external">
      {{ $icon }}
    </span>
  {{- end -}}
</a>