{{/*
  Custom rendering for markdown content blockquotes.
  - Add citation and caption attributes.
  - Add alert callouts.
*/}}

{{ $emojis := dict
  "caution" "☢ "
  "important" "🛈 "
  "note" "♫ "
  "tip" "★ "
  "warning" "⚠ "
}}

{{- if eq .Type "alert" -}}
  <blockquote class="alert-{{ .AlertType }}">
    <p class="alert-heading">
      {{ transform.Emojify (index $emojis .AlertType) }}
      {{- with .AlertTitle -}}
        {{ . }}
      {{- else -}}
        {{ or (i18n .AlertType) (title .AlertType) }}
      {{- end -}}
    </p>
    {{ .Text }}
  </blockquote>
{{- else -}}
  <figure>
    <blockquote {{- with .Attributes.cite -}}cite="{{ . }}"{{- end -}}>
      {{ .Text }}
    </blockquote>
    {{- with .Attributes.caption -}}
      <figcaption class="blockquote-caption">
        {{ . | safeHTML }}
      </figcaption>
    {{- end -}}
  </figure>
{{ end }}