{{/*
  Custom rendering for markdown content blockquotes.
  - Add citation and caption attributes.
  - Add alert callouts.
  - Add icons for quote and alerts.
*/}}

{{- $type := .AlertType | safeHTML -}}
{{- $icon := index site.Data.svg .AlertType | safeHTML -}}
{{- $text := .Text | safeHTML -}}
{{- $quote := site.Data.svg.quote | safeHTML -}}

{{- if eq .Type "alert" -}}
  <blockquote class="alert-{{ $type }}">
    <span>
      {{ $icon }}
    </span>
    {{- with .AlertTitle -}}
      {{ . }}
    {{- else -}}
      {{ or (i18n $type) (title $type) }}
    {{- end -}}
    {{ $text }}
  </blockquote>
{{- else -}}
  <figure>
    <blockquote {{- with .Attributes.cite -}}cite="{{ . }}"{{- end -}}>
      <span>
      {{ $quote }}
      </span>
      {{ $text }}
    </blockquote>
    {{- with .Attributes.caption -}}
      <figcaption class="blockquote-caption">
        {{ . | safeHTML }}
      </figcaption>
    {{- end -}}
  </figure>
{{ end }}