name: Get Funded Grants List

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 0'  # Weekly on Sunday 20:00 UTC

permissions:
  contents: write

jobs:
  update-issues-file:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Restore Grants List cache
      uses: actions/cache@v4
      with:
        path: .cache
        key: grants-cache-${{ github.ref_name }}
        restore-keys: |
          grants-cache-

    - name: Get issues with funded label and store data in JSON
      run: |
        page=1
        all_issues=$(jq -n '[]')

        while true; do
          response=$(curl -s \
                          -H "Accept: application/vnd.github.v3+json" \
                          "https://api.github.com/repos/FreeCAD/FPA-grant-proposals/issues?labels=funded&state=all&per_page=100&page=$page")
          if [ "$(echo "$response" | jq 'length')" -eq 0 ]; then
            break
          fi
          all_issues=$(jq -s '.[0] + .[1]' <(echo "$all_issues") <(echo "$response"))
          page=$((page + 1))
        done

        echo "$all_issues" > funded_grants_list_raw.json

    - name: Check if grants list has changed
      run: |
        mkdir -p .cache

        current_hash=$(echo "$all_issues" | sha256sum | awk '{ print $1 }')

        if [ -f .cache/funded_grants_list.hash ]; then
          old_hash=$(cat .cache/funded_grants_list.hash)
          if [ "$current_hash" = "$old_hash" ]; then
            echo "No change in grants list since last run."
            exit 0
          fi
        fi

        echo "$current_hash" > .cache/funded_grants_list.hash

    - name: Extract useful data (title, url, labels, creation date and author)
      run: |
        mkdir -p data
        jq '[.[] | {
          title: .title,
          url: .html_url,
          labels: [.labels[].name],
          created_at: .created_at,
          author: .user.login
        }]' funded_grants_list_raw.json > data/funded_grants_list.json

    - name: Commit and push updated grants list
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

        git add data/funded_grants_list.json

        if git diff --cached --quiet; then
          echo "No changes to commit."
          exit 0
        fi

        DATE=$(date -u +"%Y-%m-%d")
        git commit -m "Action: update Funded Grants List - $DATE"
        git push

    - name: Save updated cache
      uses: actions/cache/save@v4
      with:
        path: .cache
        key: grants-cache-${{ github.ref_name }}
