# Sample workflow for building and deploying a Hugo site to GitHub Pages
# https://github.com/actions/starter-workflows/blob/main/pages/hugo.yml

name: Deploy Hugo site to GitHub Pages

on:
  # Runs on pushes targeting the default branch
  push:
    paths-ignore:
      - "README.md"
    branches:
      - testing

  # Run after other workflows with a trigger-deploy job.
  repository_dispatch:
    types: [trigger-hugo-deploy]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions to allow to write to branches
permissions:
  contents: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "hugo-prod"
  cancel-in-progress: false

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.148.2
      HUGO_ENVIRONMENT: production
      BASE_URL: "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/"
      TZ: Europe/Berlin

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Create dir for executables
        run: |
          mkdir -p "${HOME}/.local"

      - name: Install Hugo
        run: |
          curl -sLJO "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          mkdir "${HOME}/.local/hugo"
          tar -C "${HOME}/.local/hugo" -xf "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          rm "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          echo "${HOME}/.local/hugo" >> "${GITHUB_PATH}"

      - name: Verify installations
        run: |
          echo "Hugo: $(hugo version)"

      - name: Configure Git
        run: |
          git config core.quotepath false

      - name: Cache Restore
        id: cache-restore
        uses: actions/cache/restore@v5
        with:
          path: ${{ runner.temp }}/hugo_cache
          key: hugo-${{ github.run_id }}
          restore-keys:
            hugo-

      - name: Build the site with Hugo
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL "$BASE_URL" \
            --cacheDir "${{ runner.temp }}/hugo_cache"

      - name: Deploy to gh-pages branch (production)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
          destination_dir: .
          keep_files: true

      - name: Cache Save
        id: cache-save
        uses: actions/cache/save@v5
        with:
          path: ${{ runner.temp }}/hugo_cache
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}