name: Close stale issues and pull requests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 6"

permissions:
  contents: read

jobs:
  stale:
    permissions:
      contents: read
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          days-before-stale: 60
          days-before-close: 30
          exempt-all-assignees: true
          exempt-draft-pr: true
          exempt-issue-labels: Keep, InProgress, NeedsTriage
          exempt-pr-labels: Keep, InProgress, NeedsTriage
          operations-per-run: 100
          stale-issue-message: >
            This issue has been inactive and will close soon unless updated.
          stale-pr-message: >
            This pull request has been inactive and will close soon unless updated.
